<h3>申请开通小区第一步</h3>
传统街道社区的名称，是否已经在我们的数据库里了？请搜索。
<p></p>
<div id="locals_search">
<%= form_tag(locals_path, method: :get, class: "form-inline", role: 'search') do %>
  <div class="input-group">
    <%= text_field_tag :term, params[:term], id: 'locals_search', autocomplete: :off, placeholder: '传统街道社区名称', class: 'form-control' %>
    <div class="input-group-btn search-panel">
      <%= link_to '重来', locals_path, class: "btn btn-default" %>
      <%= submit_tag '搜索您的小区', name: nil, class: "btn btn-default" %>
    </div>

  </div>
  <!-- should this search part be simple_form as well? -->
<% end %>
</div>
<table>
  <thead>
    <tr>
      <th>街道</th>

      <th>市和区</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locals.each do |local| %>
      <tr>
        <td><%= local.name %></td>
        <td><%= local.district.city.province.name %><%= local.city.name %><%= local.district.name %></td>
        <td><%= link_to 'Show', local %></td>
        <td><%= link_to 'Edit', edit_local_path(local) %></td>
        <td><%= link_to 'Destroy', local, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div>
  您小区所在的传统街道社区，有没有搜索出来？　如果没有，请添加新的传统街道社区。如果有，请去第二步。
</div>
<p></p>
<div id="new-entry-link">
  <%= link_to '请添加新的传统街道社区', new_local_path %> <%= image_tag "icons/forward-arrow-50.png", :size => '25x25', :title => "前行" %>
</div>

<h3>申请开通小区第二步</h3>

<div id="new-entry-link">
  <%= link_to '房地产开发商列表', real_estate_developers_path %> <%= image_tag "icons/forward-arrow-50.png", :size => '25x25', :title => "前行" %>
</div>
