<h3>创建街道社区</h3>

<%= simple_form_for(@local) do |f| %>
  <%#= render 'shared/errors', object: f.object %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%#= f.text_field :name, class: "form-control", placeholder: "街道社区名称" %>
    <%= f.input :name, label: false, placeholder: "街道社区名称，最多12个字。" %>
    <%= f.input :pinyin, label: false, placeholder: "名称拼音，最少2个字。" %>

    <%#= f.collection_select :district_id, District.all, :id, :name, prompt: true, class: "form-control" %>
    <%#= f.input :district_name, label: false, placeholder: "所属区县，必填！必须是已有的区县。" %>
    <%#= f.text_field :district_name, data: { autocomplete_source: District.order(:name).map(&:name)} %>
    <%= f.text_field :district_name, class: "form-control", placeholder: "所属区县，必选是数据库里已有的。", data: { autocomplete_source: districts_path } %>

    <!-- autocomplete does not play nicely with simple_form
    <%#= f.submit '提交', class: "btn btn-primary" %> -->
    <p>&nbsp;</p>
    <div>
      <%= f.button :button do %>
        请创建新街道社区！ <%= image_tag "icons/forward-arrow-50.png", :size => '25x25', :title => "提交" %>
      <% end %>
    </div>

  </div>
<% end %>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>
  <%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), locals_path %>
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
