<!--allow every user to see local-->
<%# if current_user.identity.residence.community.local.id == @local.id %>

  <p></p>
  <p>
    <%= @local.name %>
  </p>

  <p>
    <%= @local.district.city.province.name %>, <%= @local.district.city.name %>, <%= @local.district.name %>
  </p>

  <div>
    <table width = "100%">
      <tr>
        <td width = "33%"><%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), locals_path %></td>
        <td width = "33%"><%= link_to image_tag('icons/edit-property-50.png', width: '25', height: '25', title: '修改', rel: 'tooltip'), edit_local_path(@local) %></td>
        <td width = "33%"><%= link_to image_tag('icons/trash-can.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @local, method: :delete, data: { confirm: '确定删除？' } %></td>
      </tr>

    </table>
  </div>

  <div>
    <ul>
      <% @local.forums.where(published: true).each do |local| %>
        <li>
          <%= local.user.identity.lastname %>, <%= local.user.identity.sex.name %>, <%= time_ago_in_words(local.created_at) %>以前。
        </br><%= local.title %>
      </br><% if local.content.blank? %>
            <% else %>
                  还有<%= local.content.length %>个字的内容，
                  <%= link_to '点击阅读', :controller => 'forums', :action => 'show', :id => local.id %>
            <% end %></br>
        </li>
      <% end %>
    </ul>
  </div>

<!--
<%# else %>
  <p></p>
  <div>
  您不是住在这个传统社区吧。
  </div>
<%# end %>
-->
