

<div>
<% if forum.nil? %>
  <p>您的小区还没有发布帖子，您来做第一人吧．</p>
<% else %>
<%#= will_paginate @forums %>
  <%# @forums.each do |forum| %>


    <div id="index-card">
      <div id="time-ago">
        <%= (forum.created_at).strftime("%Y年%m月%d日 %H:%M") %>
      </div>

      <table>
        <tr>
          <td width="20%">
            <% if forum.user.identity.sex == "女" %>
              <%= gravatar_female forum.user %>
            <% elsif forum.user.identity.sex == "男" %>
              <%= gravatar_male forum.user %>
            <% end %>
          </td>
          <td width="20%"><span id="name"><%= link_to forum.user.identity.lastname + forum.user.identity.firstname, :controller => 'users', :action => 'show', :id => forum.user_id %></span>

          <td width="20%"><span id="bold"><%= forum.user.identity.residence.role %></span></td>
          <td width="20%"><%= forum.user.identity.age_group %>0后</td>
          <td width="20%"><%= forum.user.identity.residence.community_id %></td></td>
        </tr>
      </table>

      <p></p>
      <div id="overflow">
        <%= truncate(forum.content, length: 143) %><% if forum.more_content > 0 %>(仍有<span class="badge badge-pill badge-success"><%= forum.more_content %></span>个字)<% else %><% end %>
      </div>


      <table width="100%">
        <tr>
          <td width="20%">
            <%= link_to image_tag('icons/comment0-plus-filled.png', width: '30', height: '30', title: '评论', rel: 'tooltip'), :controller => 'comment0s', :action => 'new', :id => forum.id %>
            <div id="menu-font"><%= forum.comment0s.size %><%= link_to '评论', :controller => 'comment0s', :action => 'new', :id => forum.id %></div>
          </td>

          <td width="20%" id="image-holder">
            <%#= image_tag('icons/like-plus-filled.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
          </td>

          <td width="20%" id="image-holder">

          </td>

          <td width="20%">

          </td>
          <td width="20%">
              <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '详情', rel: 'tooltip'), forum %><div id="menu-font">此贴详情</div>
          </td>
        </tr>
      </table>


    </div>

  <p></p>
  <% end %>
<%# end %>
</div>
