
<div class="content-box">

  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %>
          <!-- <div id="menu-font">返回上页</div> -->
        </td>

        <td width = "60%">
          <div id="page-title">论坛帖子</div>
        </td>

        <!-- <td width = "20">

        </td>

        <td width = "20%"></td> -->

        <td width = "20%"><%= link_to image_tag('icons/xiaoqu-red-heart-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), :controller => 'communities', :action => 'show', :id => current_user.identity.residence.community_id %>
          <!-- <div id="menu-font">咱的小区</div></td> -->
      </tr>

    </table>
  </div>



  <!-- <div id="forums_search">
    <%#= form_tag(forums_path, method: :get, class: "form-inline", role: 'search') do %>
      <div class="input-group">
        <%= text_field_tag :term, params[:term], id: 'forums_search', autocomplete: :off, placeholder: '传统街道社区名称', class: 'form-control' %>
        <div class="input-group-btn search-panel">
          <%= link_to '重来', forums_path, class: "btn btn-default" %>
          <%= submit_tag '搜索您的小区', name: nil, class: "btn btn-default" %>
        </div>

      </div>
      <!-- should this search part be simple_form as well? -->
    <%# end %>
  <!-- </div> -->

  <!-- <div><%#= will_paginate @forums %></div> -->

  <div id="forums">
      <%= render @forums %>
  </div>

  <div><%= will_paginate @forums %></div>
  <%#= will_paginate @forums, class: "pagination pagination-lg" %>
  <!-- it would not become large page number. -->




<div class="bottom-menu">
  <table id="full">
    <tr>
      <td width = "20%">

      </td>

      <td width = "20%">

      </td>

      <td width = "20">

          <%= link_to image_tag('icons/forum-plus-filled.png', width: '35', height: '35', title: '请添加新汇报', rel: 'tooltip'), new_forum_path %><div id="menu-font">添新帖子</div>

      </td>

      <td width = "20%">

      </td>

      <td width = "20%">

      </td>
    </tr>

  </table>
</div>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
