// $('#forums').append('<%= j render("forum_page_header") %>');
// $('#forums').append('<%= j render @forums %>');
// <% if @forums.next_page %>
//   $('.pagination').replaceWith('<%= j will_paginate @forums %>');
// <% else %>
//   $(window).off('scroll');
//   $('.pagination').remove();
// <% end %>


// $('#forums').append('<%= escape_javascript render(@forums) %>');
// $('.pagination').replaceWith('<%= escape_javascript will_paginate(@forums) %>');
