<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 可以在自己的小区里，匿名发布自己的帖子吗？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 平台希望在一个小区之内的邻居业主们都能够互相认识，这样才能更好地，协同一致地管理好自己的家园小区．对于小区之外，是匿名的．<!-- 当然，平台的所有功能都由小区业主们自我决定，当大多数的业主们加入了这个平台，在使用了一段时间之后，大家可以用投票来决定，是否需要更加隐私一些的问题． -->
            </div>

          <p>&nbsp;</p>
            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 除了小区公摊面积管理方面的帖子以外，咱还可以发布那些方面的帖子？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 家庭家园，品质生活，文化艺术，投资知识，理财方法，亲子教育，笑话幽默，旅行度假，文娱活动，法制普及，科普知识，个人广告（非商业广告）等等，这方面的帖子是多多易善．
            </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 哪些方面的帖子是被严禁发表的？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> "机器群发", "商业广告", "软文推销", "时事政治", "煽动动乱", "医疗偏方", "战争军事", "玄学迷信", "抄袭侵权", "低俗色情", "粗鲁谩骂", "恐怖暴力", "宣传毒赌", "散布谣言", "其它违规", "涉嫌违法"等等．．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱万一不小心而发表了以上被严禁方面的帖子怎么办？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 建议您先打草稿，再发帖子。１５分钟内可以删除您自己的帖子．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果帖子被发现违规，会有什么处罚？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 此平台是由小区业主们自己来管理的．一旦有违规的帖子，义工业主们会对您进行禁言天数的处罚．情节严重者可能会被＂永远＂请出平台，以及上报给有关政府部门．具体规则由全体业主们来制定，也包括您自己．
              </div>

              <p>&nbsp;</p>
                  <div class="ask">
                    <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱愿意当小区义工管理员，如何申请？
                  </div>
                  <div class="answer">
                    <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 首先，您必须是小区＂业主＂的身份才能申请。咱们正在整理出详细的申请办法，谢谢耐心等待！
                  </div>

          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"><%= link_to image_tag('icons/forum-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), forums_path %><div id="menu-font">全部帖子</div></td>
      </tr>

    </table>
  </div>

<% if current_user.identity.penalty.nil? or current_user.identity.penalty.ending_date < Time.zone.now %>

  <div id="page-title">添新帖子</div>
  <p>&nbsp;</p>

  <%= simple_form_for(@forum) do |f| %>
    <%#= render 'shared/errors', object: f.object %>
    <%= f.error_notification %>

    <div class="form-inputs">

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :community_id, :value => current_user.identity.residence.community.id %>
    <%= f.hidden_field :local_id, :value => current_user.identity.residence.community.local.id %>
    <%= f.hidden_field :district_id, :value => current_user.identity.residence.community.local.district.id %>
    <%= f.hidden_field :city_id, :value => current_user.identity.residence.community.local.district.city.id %>
    <%= f.hidden_field :province_id, :value => current_user.identity.residence.community.local.district.city.province.id %>

    <%= f.hidden_field :identity_id, :value => current_user.identity.id %>
    <%= f.hidden_field :score, :value => "16" %>

    <%= f.input :content, label: false, as: :text, placeholder: '请来说说吧。最少28个字，最多1400个字，必填。', :input_html => { :rows => 9 } %>

    <%= f.button :button do %>
      提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交" %>
    <% end %>

  <% end %>

<% else %>
  <div>
    <%= current_user.identity.penalty.penalty_type.name %></br>
    直到　<%= current_user.identity.penalty.ending_date %></br>
    现在是　<%= Time.now %>
  </div>
<% end %>

<p>&nbsp;</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
  <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
</button>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
