
<div class="content-box">

  <div id="page-title">帖子详情</div>

  <p></p>


  <div id="index-card">
    <div id="time-ago"><%= (@forum.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>

    <table>
      <tr>
        <td width="20%">
          <% if @forum.user.identity.sex == "女" %>
            <%= gravatar_female @forum.user %>
          <% elsif @forum.user.identity.sex == "男" %>
            <%= gravatar_male @forum.user %>
          <% end %>
        </td>
        <td width="20%"><span id="name"><%= link_to @forum.user.identity.lastname + @forum.user.identity.firstname, :controller => 'users', :action => 'show', :id => @forum.user_id %></span>

        <td width="20%"><span id="bold"><%= @forum.user.identity.residence.role %></span></td>
        <td width="20%"><%= @forum.user.identity.age_group %>0后</td>
        <td width="20%"></td>
      </tr>
    </table>

    <p></p>

    <div id="overflow">
      <div id="favor-left">
        <% if @forum.favor_forums.where("user_id = ?", current_user.id).count > 0 %>
          <%= link_to image_tag('icons/forum-heart-filled.png', width: '30', height: '30', title: '您已收藏', rel: 'tooltip'), favor_forums_path %>
          <div id="menu-font">被<%= @forum.favor_forums.count %>收藏</div>
          <!-- <%#= link_to image_tag('icons/heart-red-outline.png', width: '30', height: '30', title: '删除吗？', rel: 'tooltip'), @forum.favor_report, method: :delete, data: { confirm: '确定删除吗？' } %><div id="menu-font">您已收藏</div> -->
        <% else %>
          <%= link_to image_tag('icons/heart-plus-filled.png', width: '30', height: '30', title: '添加收藏', rel: 'tooltip'), :controller => 'favor_forums', :action => 'new', :id => @forum.id %>
          <div id="menu-font">被<%= @forum.favor_forums.count %>收藏</div>
        <% end %>
      </div>
      <%= simple_format(@forum.content, class: 'show-text') %>
    </div>
  </div>
<p>&nbsp;</p>

<% if @forum.forum_complain.nil? && @forum.comment0s.where("published = ?", true).empty? %>
<div>请点击下面的＂＋＂按键评论此帖</div>

<% elsif @forum.forum_complain.nil? && @forum.comment0s.where("published = ?", true).count > 0 %>

<div id="section-title">
  <%#= link_to image_tag('icons/comment0-filled.png', width: '30', height: '30', title: '全部评论'), :controller => 'comment0s', :action => 'index', :id => @forum.id %> 一楼评论
</div>

  <% @forum.comment0s.where("published = ?", true).each do |c| %>
  <div id="index-card-comment0">
    <div id="time-ago"><%= (c.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>
    <table>
      <tr>
        <td width="20%">
          <% if c.user.identity.sex == "女" %>
            <%= gravatar_female_28 c.user %>
          <% elsif c.user.identity.sex == "男" %>
            <%= gravatar_male_28 c.user %>
          <% end %>
        </td>
        <td width="20%"><span id="name"><%= link_to c.user.identity.lastname + c.user.identity.firstname, :controller => 'users', :action => 'show', :id => c.user_id %></span>

        <td width="20%"><span id="bold"><%= c.user.identity.residence.role %></span></td>
        <td width="20%"><%= c.user.identity.age_group %>0后</td>
        <td width="20%"></td>
      </tr>
    </table>

    <p></p>

    <div id="overflow">
      <%= simple_format(c.content, class: 'comment0-show-text') %>
    </div>

    <table width="100%">
      <tr>
        <td width="20%">
          <%= link_to image_tag('icons/comment1-plus-filled.png', width: '30', height: '30', title: '回复', rel: 'tooltip'), :controller => 'comment1s', :action => 'new', :id => c.id %>
          <div id="menu-font"><%= c.comment1s.size %><%= link_to '回复', :controller => 'comment1s', :action => 'new', :id => c.id %></div>
        </td>

        <td width="20%" id="image-holder">
          <%#= image_tag('icons/like-plus-filled.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
        </td>

        <td width="20%">
          <% if c.user.id == current_user.id && (Time.zone.now - c.created_at)/60 < 15 %>
        <!-- 15 is minues -->
          <%= link_to image_tag('icons/trash-filled.png', width: '30', height: '30', title: '删除', rel: 'tooltip'), c, method: :delete, data: { confirm: '确定删除吗？' } %><div id="menu-font">删除评论</div>
        <% end %>

        </td>

        <td width="20%">

        </td>
        <td width="20%">
            <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '详情', rel: 'tooltip'), :controller => 'comment0s', :action => 'show', :id => c.id %><div id="menu-font">评论详情</div>
        </td>
      </tr>
    </table>

  </div>
  <p></p>

  <% end %>

  <%#= paginate c %>
</div>

<% elsif @forum.forum_complain %>
  <div id="index-card">
    <div><%= (@forum.forum_complain.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>
    <p></p>

    <div><%= @forum.forum_complain.user.identity.lastname %><%= @forum.forum_complain.user.identity.firstname %> 举报了此贴．</div>

      <% if @forum.forum_complain.legitimate == true %>
        <%= image_tag('icons/yes-red-outline.png', width: '25', height: '25', title: '否定', rel: 'tooltip') %>
        <div>
          此投诉已经成立，请查看详情<%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), :controller => 'forum_complains', :action => 'show', :id => @forum.forum_complain.id %>
        </div>
      <% elsif @forum.forum_complain.legitimate.nil? %>
        <div>
          请查看详情或者验证此投诉<%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), :controller => 'forum_complains', :action => 'show', :id => @forum.forum_complain.id %>
        </div>
      <% end %>

  </div>
<% end %>

<p>&nbsp;</p>

<% if @forum.comment0s.where("published = ?", true).size > 1 %>
  <div id="section-title">
    <%= link_to image_tag('icons/comment0-filled.png', width: '30', height: '30', title: '全部评论'), :controller => 'comment0s', :action => 'index', :id => @forum.id, :page => '2' %> 更多一楼评论...
  </div>
<% end %>

<p>&nbsp;</p>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 为啥在消息里的某一个一楼评论或者二楼回复已经不见了？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 在您检查消息之前，因违反规定，它已经被禁止发表了．
            </div>

          <!-- <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果得到是“失败验证”，可以删除吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> １０天之后才能删除并且重新填写．
              </div> -->


          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
  <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
</button>

<div class="bottom-menu">
  <table id="full">
    <tr>
      <td width = "20%">
      </td>

      <td width = "20%">
      </td>

      <td width = "20">

          <% if current_user.identity.nil? or current_user.identity.status != '已经验证' or current_user.identity.residence.nil? or current_user.identity.residence.status != '已经验证' %>

          <% else %>
            <div class="btn-group dropup">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div><%= image_tag('icons/plus-filled.png', width: '35', height: '35', title: '更多菜单', rel: 'tooltip') %></div>

              </button>

              <div class="dropdown-menu">

                <div>
                  <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %> 返回上页
                </div>


                <div>
                  <% if @forum.user.id == current_user.id && (Time.zone.now - @forum.created_at)/60 < 15 %>
                <!-- 15 is minues -->
                  <%= link_to image_tag('icons/trash-filled.png', width: '30', height: '30', title: '删除', rel: 'tooltip'), @forum, method: :delete, data: { confirm: '确定删除吗？' } %> 删除此贴
                  <% end %>
                </div>

                <div>
                  <%= link_to image_tag('icons/forum-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), forums_path %> 全部帖子
                </div>
                <div>

                </div>

                <div>
                  <%= link_to image_tag('icons/comment0-plus-filled.png', width: '30', height: '30', title: '咱要评论'), :controller => 'comment0s', :action => 'new', :id => @forum.id %> 咱要评论
                </div>


                <div>
                  <% if @forum.forum_complain.nil? %>
                    <%= link_to image_tag('icons/complain-filled.png', width: '30', height: '30', title: '投诉', rel: 'tooltip'), :controller => 'forum_complains', :action => 'new', :id => @forum.id %> 投诉此贴
                  <% end %>
                </div>
              </div>
            </div>

        <% end %>
      </td>

      <td width = "20%"></td>

      <td width = "20%"></td>
    </tr>

  </table>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
