<p id="notice"><%= notice %></p>

<h1>Penalty Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @penalty_types.each do |penalty_type| %>
      <tr>
        <td><%= penalty_type.name %></td>
        <td><%= penalty_type.note %></td>
        <td><%= link_to 'Show', penalty_type %></td>
        <td><%= link_to 'Edit', edit_penalty_type_path(penalty_type) %></td>
        <td><%= link_to 'Destroy', penalty_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Penalty Type', new_penalty_type_path %>
