<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @penalty_type.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @penalty_type.note %>
</p>

<%= link_to 'Edit', edit_penalty_type_path(@penalty_type) %> |
<%= link_to 'Back', penalty_types_path %>
