<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

<div id="page-title">一楼评论帖子</div>


<%= simple_form_for(@comment0) do |f| %>
  <div>
    <%= f.error_notification %>
  </div>

  <div class="form-inputs">

    <%= f.hidden_field :forum_id, :value => params[:id] %>

    <%= f.hidden_field :user_id, :value => current_user.id %>


    <%= f.hidden_field :published, :value => true %>
    <%= f.hidden_field :score, :value => '2' %>
    <%= f.hidden_field :identity_id, :value => current_user.identity.id %>
    <%= f.input :content, label: false, as: :text, placeholder: '写评论，最少14个字，最多280个字.', :input_html => { :rows => 9, :maxlength => 20 } %>

    <%= f.hidden_field :community_id, :value => current_user.identity.residence.community.id %>
    <%= f.hidden_field :local_id, :value => current_user.identity.residence.community.local.id %>
    <%= f.hidden_field :district_id, :value => current_user.identity.residence.community.local.district.id %>
    <%= f.hidden_field :city_id, :value => current_user.identity.residence.community.local.district.city.id %>
    <%= f.hidden_field :province_id, :value => current_user.identity.residence.community.local.district.city.province.id %>
  </div>

  <%= f.button :button do %>
    提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交" %>
  <% end %>
<% end %>
</div>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
