<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %>
          <!-- <div id="menu-font">返回上页</div> -->
        </td>

        <td width = "40%">
          <div id="page-title">一楼评论</div>
        </td>


        <td width = "20%"></td>

        <td width = "20%">
          <%= link_to image_tag('icons/comment0-filled.png', width: '30', height: '30', title: '全部评论'), :controller => 'comment0s', :action => 'index', :id => @comment0.forum.id %>
          <!-- <div id="menu-font">全部评论</div> -->
        </td>
      </tr>

    </table>
  </div>

<!-- <div id="section-title"><%= image_tag('icons/forum-red-outline.png', width: '30', height: '30', title: '评论', rel: 'tooltip') %> 被评论的原帖</div>
  <div id="index-card">
    <div id="time-ago"><%= (@comment0.forum.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>

    <table>
      <tr>
        <td width="20%">
          <% if @comment0.forum.user.identity.sex == "女" %>
            <%= gravatar_female @comment0.forum.user %>
          <% elsif @comment0.forum.user.identity.sex == "男" %>
            <%= gravatar_male @comment0.forum.user %>
          <% end %>
        </td>
        <td width="20%"><span id="name"><%= link_to @comment0.forum.user.identity.lastname + @comment0.forum.user.identity.firstname, :controller => 'users', :action => 'show', :id => @comment0.forum.user_id %></span>

        <td width="20%"><span id="bold"><%= @comment0.forum.user.identity.residence.role %></span></td>
        <td width="20%"><%= @comment0.forum.user.identity.age_group %>0后</td>
        <td width="20%"></td>
      </tr>
    </table>

    <p></p>

    <div id="overflow">
      <%= truncate(@comment0.forum.content, length: 140, class: 'forum-show-text') %>
    </div>

    <table width="100%">
      <tr>
        <td width="20%" id="image-holder">
          <%#= image_tag('icons/complain-plus-filled.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
        </td>

        <td width="20%" id="image-holder">
          <%#= image_tag('icons/like-plus-filled.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
        </td>

        <td width="20%" id="image-holder">

        </td>

        <td width="20%">

        </td>
        <td width="20%">
            <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '详情', rel: 'tooltip'), :controller => 'forums', :action => 'show', :id => @comment0.forum.id %><div id="menu-font">此帖详情</div>
        </td>
      </tr>
    </table>
  </div>
<p>&nbsp;</p> -->

<div id="index-card-comment0">
  <div id="time-ago"><%= (@comment0.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>

  <table>
    <tr>
      <td width="20%">
        <% if @comment0.user.identity.sex == "女" %>
          <%= gravatar_female @comment0.user %>
        <% elsif @comment0.user.identity.sex == "男" %>
          <%= gravatar_male @comment0.user %>
        <% end %>
      </td>
      <td width="20%"><span id="name"><%= link_to @comment0.user.identity.lastname + @comment0.user.identity.firstname, :controller => 'users', :action => 'show', :id => @comment0.user_id %></span>

      <td width="20%"><span id="bold"><%= @comment0.user.identity.residence.role %></span></td>
      <td width="20%"><%= @comment0.user.identity.age_group %>0后</td>
      <td width="20%"></td>
    </tr>
  </table>

  <p></p>

  <div id="overflow">
    <%= simple_format(@comment0.content, class: 'show-text') %>
  </div>
</div>
<p>&nbsp;</p>

  <% if @comment0.comment1s.where("published = ?", true).count > 0 %>
  <div id="section-title"><%#= image_tag('icons/comment1-red-outline.png', width: '30', height: '30', title: '评论', rel: 'tooltip') %> 二楼回复</div>

    <% @comment0.comment1s.where("published = ?", true).each do |c| %>
      <div id="index-card-comment1">


      <div id="time-ago"><%= (c.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>

      <table>
        <tr>
          <td width="20%">
            <% if c.user.identity.sex == "女" %>
              <%= gravatar_female c.user %>
            <% elsif c.user.identity.sex == "男" %>
              <%= gravatar_male c.user %>
            <% end %>
          </td>
          <td width="20%"><span id="name"><%= link_to c.user.identity.lastname + c.user.identity.firstname, :controller => 'users', :action => 'show', :id => c.user_id %></span>

          <td width="20%"><span id="bold"><%= c.user.identity.residence.role %></span></td>
          <td width="20%"><%= c.user.identity.age_group %>0后</td>
          <td width="20%"></td>
        </tr>
      </table>

      <p></p>

      <div id="overflow">
        <%= simple_format(c.content, class: 'show-text') %>
      </div>
    </div>
    <p>&nbsp;</p>
    <% end %>
  <% end %>

  <p>&nbsp;</p>

  <% if @comment0.comment1s.where("published = ?", true).size > 1 %>
    <div id="section-title">
      <%= link_to image_tag('icons/comment1-filled.png', width: '30', height: '30', title: '全部回复'), :controller => 'comment1s', :action => 'index', :id => @comment0.id, :page => '2' %> 更多二楼回复...
    </div>
  <% end %>

  <div class="bottom-menu">
    <table id="full">
      <tr>
        <td width = "20%">

        </td>

        <td width = "20%">

        </td>

        <td width = "20">

            <%= link_to image_tag('icons/comment1-plus-filled.png', width: '35', height: '35', title: '咱有话说'), :controller => 'comment1s', :action => 'new', :id => @comment0.id %><div id="menu-font">回复一楼</div>

        </td>

        <td width = "20%">

        </td>

        <td width = "20%">

        </td>
      </tr>

    </table>
  </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
