<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :电子邮箱 %><br />
    <%= f.email_field :email, autofocus: true, placeholder: "xxxxxxx@qqx.com" %><br />
  </div>

    <%#= f.label :emailmd5 %>
    <%#= f.text_field :emailmd5, value:[:emailmd5] %>

    <%#= f.hidden_field :emailmd5, value:2 %>

  <div class="field">
    <%= f.label :新密码 %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :新密码确认 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<div id="index-card">
  <h3>常见问题回答：</h3>
  <div>
    <p>
      问：那些密码是最容易被黑客破解的？</br>
      答：123456, 1234567890, 123456789, 1234567, qwerty, password, 12345678, 123123, 111111, 987654321等等，这些密码黑客几秒就能破解．密码中包括了您的个人姓名、配偶姓名，或者宠物名, 老家街道, 最爱度假地等等私人信息，这样的密码黑客几十秒就能破解．
    </p>
    <p>
      问：如何才能创造出一个需要黑客3.5万年才能破解的密码？</br>
      答：选择由三个词组组成的密码，词组随机组合，前后无关联。比如‘teabrownpicture’（茶棕色的图片）．
    </p>

    <p>
      问：3.5万年还不够，如何才能创造出一个黑客需要2.27亿年才能破解的密码？</br>
      答：‘teabrownpicture7’, 在词组前面或者后面加一个您最喜欢的数字就可以了。
    </p>

    <p>
      问：这些都是谁说的？</br>
      答：一位英国知名家电零售商AO.com的技术专家透露的．https://www.cnbeta.com/articles/tech/663339.htm
    </p>

  </div>
</div>
