<p id="notice"><%= notice %></p>

<h1>Residence Photos</h1>

<table>
  <thead>
    <tr>
      <th>Residence</th>
      <th>Name</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residence_photos.each do |residence_photo| %>
      <tr>
        <td><%= residence_photo.residence %></td>
        <td><%= residence_photo.name %></td>
        <td><%= residence_photo.photo %></td>
        <td><%= link_to 'Show', residence_photo %></td>
        <td><%= link_to 'Edit', edit_residence_photo_path(residence_photo) %></td>
        <td><%= link_to 'Destroy', residence_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Residence Photo', new_residence_photo_path %>
