
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 在上传之前，可以修改照片吗？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 不可以．最好是用这只手机刚刚拍下的照片．
            </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 能够删除刚刚上传的照片吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 在１小时之内可以删除．在申请了验证之后，就不能够删除了．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 那些人可以看见咱的个人身份信息和身份证照片？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> １位或者２位＂已经验证＂的，有真实身份的用户，需要看见您的个人身份信息和身份证照片，以验证您的真实身份．普通用户不能够看见您的身份证号码和照片．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 在被＂已经验证＂之后，还有哪些人可能看见咱的个人身份信息和身份证照片？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 在您被＂已经验证＂之后，在特定的情况下，不限于平台管理部，小区物业管理公司代表，小区业主委员会代表，居民委员会代表，当地政府机构，和当地执法机构有可能会查看它们以确定您的真实身份．
              </div>
          <!-- <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱能够知道哪些人看过咱的身份证号码和照片？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 所有对身份证信息的阅读都有记录，您可以知道阅读者的头像和身份．
              </div> -->



          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">请上传房产证照片</div>

<p>&nbsp;</p>

<div id="index-card">
<%= simple_form_for(@residence_photo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.association :identity %>
    <%= f.hidden_field :residence_id, :value => current_user.identity.residence.id %>

    <%= f.input :name, label: '照片名称', collection: [ "房产号页", "名字身份证页", "补充页" ] %>

    <span id="pic">
      <%#= f.input :picture %>
      <%= f.input :photo, label: '上传照片', accept: 'image/jpeg,image/gif,image/png,image/jpg' %>
      <%#= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      <!-- if accept: 'image/jpeg,image/gif,image/png' is for checking file format on client side, it does not work -->
    </span>
  </div>

  <%= f.button :button do %>
    提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交!" %>
  <% end %>
<% end %>
</div>

<p>&nbsp;</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
  <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '常见问题', rel: 'tooltip' %> 常见问题回答
</button>

</div>

<script type="text/javascript">
  $('#pic').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 1) {
      alert('Maximum file size is 1MB. Please choose a smaller file.');
    }
  });
</script>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
