<div class="content-box">

<div>
  <table id="full">
    <tr>
      <td width = "20%">
        <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
      </td>

      <td width = "20%">

      </td>

      <td width = "20">

      </td>

      <td width = "20%">
        <% if current_user.id == @residence_photo.residence.identity.user.id && Time.zone.now - @residence_photo.created_at < 3600 %>
          <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @residence_photo, method: :delete, data: { confirm: '确定删除吗？' } %><div id="menu-font">删除照片</div>
        <% end %>

        <!--1 is one second. 60*60*24 = 86400s/d, thus 3600 is one hour. The user cannot delete it after one hour in production-->
      </td>

      <td width = "20%">
        <%= link_to image_tag('icons/residence-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), :controller => 'residences', :action => 'show_self', :id => @residence_photo.residence.id %><div id="menu-font">居住状况</div>
      </td>
    </tr>

  </table>
</div>

<div id="page-title"><%= @residence_photo.residence.identity.lastname %><%= @residence_photo.residence.identity.firstname %></div>

  <div id="index-card">
    <div id="ago">
      <%= time_ago_in_words(@residence_photo.created_at) %>以前，（１小时之内可以删除）
    </div>
    <p></p>

    <div>
      <%= @residence_photo.name %>
    </div>

    <div>

      <%= image_tag @residence_photo.photo.url, width: '100%', height: '100%' if @residence_photo.photo? %>
    </div>


    <%#= link_to 'Back', identity_photos_path %>
  </div>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
