<div class='notifications'>
  <% if notification.actor.identity.sex == "女" %>
    <%= gravatar_female_28 notification.actor %>
  <% elsif notification.actor.identity.sex == "男" %>
    <%= gravatar_male_28 notification.actor %>
  <% end %>

  <%= link_to notification.actor.identity.lastname + notification.actor.identity.firstname, main_app.user_path(notification.actor) %>, <span id="bold">回复</span>了您的<span id="bold">评论</span>...
  <p></p>
  <div id="comment0-background">
    <%#= link_to truncate(notification.second_target.content, length: 37), main_app.forum_path(notification.user, notification.second_target) %>
    <%= truncate(notification.second_target.content, length: 42) %>
    <%#= truncate(notification.second_target.content, length: 40) %>
  </div>
</div>

<p></p>

<div id="comment1-notification">
  <%#= notification.target.content %>
  <%= image_tag('icons/comment1-bell-red-outline.png', width: '30', height: '30', title: '回复', rel: 'tooltip') %>
  <%= truncate(notification.target.content, length: 28) %> <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '详情', rel: 'tooltip'), main_app.comment0_path(notification.second_target) %>
</div>
