


<div class='notifications'>

  <% if notification.actor.identity.sex == "女" %>
    <%= gravatar_female_28 notification.actor %>
  <% elsif notification.actor.identity.sex == "男" %>
    <%= gravatar_male_28 notification.actor %>
  <% end %>

  <%= link_to notification.actor.identity.lastname + notification.actor.identity.firstname, main_app.user_path(notification.actor) %>, <span id="bold">评论</span>了您的<span id="bold">帖子</span>...
  <p></p>
  <div>
    <%#= link_to truncate(notification.second_target.content, length: 37), main_app.forum_path(notification.user, notification.second_target) %>
    <%= truncate(notification.second_target.content, length: 42) %>

  </div>
</div>
<p></p>

<% if notification.target.nil? %>
  <div id="notification-delete">
    <%= image_tag('icons/trash-cross-filled.png', width: '30', height: '30', title: '评论', rel: 'tooltip') %> 但此评论已被删除．
  </div>

<%# elsif notification.target.where("published = ?", false) %>
<!-- this won't work. How to let user know the comment has already been unpublished? -->

<% else %>
  <div id="comment0-notification">
    <%= image_tag('icons/comment0-bell-red-outline.png', width: '30', height: '30', title: '评论', rel: 'tooltip') %>
    <%= truncate(notification.target.content, length: 28) %> <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '详情', rel: 'tooltip'), main_app.forum_path(notification.second_target) %>
  </div>
<% end %>
