<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @report_comment1.user %>
</p>

<p>
  <strong>Report comment0:</strong>
  <%= @report_comment1.report_comment0 %>
</p>

<p>
  <strong>Content:</strong>
  <%= @report_comment1.content %>
</p>

<p>
  <strong>Published:</strong>
  <%= @report_comment1.published %>
</p>

<p>
  <strong>Score:</strong>
  <%= @report_comment1.score %>
</p>

<p>
  <strong>Community:</strong>
  <%= @report_comment1.community %>
</p>

<p>
  <strong>Local:</strong>
  <%= @report_comment1.local %>
</p>

<p>
  <strong>District:</strong>
  <%= @report_comment1.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @report_comment1.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @report_comment1.province %>
</p>

<p>
  <strong>Identity:</strong>
  <%= @report_comment1.identity %>
</p>

<%= link_to 'Edit', edit_report_comment1_path(@report_comment1) %> |
<%= link_to 'Back', report_comment1s_path %>
