<%= form_for(forum_complain) do |f| %>
  <% if forum_complain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(forum_complain.errors.count, "error") %> prohibited this forum_complain from being saved:</h2>

      <ul>
      <% forum_complain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :forum_id %>
    <%= f.text_field :forum_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :reason_id %>
    <%= f.text_field :reason_id %>
  </div>

  <div class="field">
    <%= f.label :approved %>
    <%= f.check_box :approved %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
