<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>


<h3>举报是否成立?</h3>

<p>&nbsp;</p>

<strong>被举报人:</strong>
<div id = "index-card">

  <%= gravatar_25 @forum_complain.forum.user %> <% if @forum_complain.forum.user.identity.sex == "女" %><span id="female"><% else %><span id="male"><% end %><%= @forum_complain.forum.user.identity.lastname %><%= @forum_complain.forum.user.identity.firstname %></span>
  <p><%= image_tag('icons/shield-question.png', width: '25', height: '25', title: '违规吗？', rel: 'tooltip') %><%= truncate(@forum_complain.forum.content, length: 143) %></p>
</div>

<p>&nbsp;</p>

<strong>举报人:</strong>
<div id = "index-card">

  <%= gravatar_25 @forum_complain.user %> <% if @forum_complain.user.identity.sex == "女" %><span id="female"><% else %><span id="male"><% end %><%= @forum_complain.user.identity.lastname %><%= @forum_complain.user.identity.firstname %></span>

  <p>

    <%= @forum_complain.content %>
  </p>
</div>

<p>&nbsp;</p>

<%= simple_form_for(@forum_complain) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :identity_id, :value => current_user.identity.id %>

    <%= f.input :legitimate, label: '打勾为举报成立' %>

    <%= f.input :category, label: false, prompt: "举报类别，必选！", priority: [ "商业广告" ], collection: [ "垃圾内容", "机器群发", "商业广告", "软文推销", "政治宣传", "煽动动乱", "医疗建议", "战争军事", "玄学迷信", "抄袭侵权", "低俗色情", "粗鲁谩骂", "恐怖暴力", "宣传毒赌", "散布谣言", "其它违规", "涉嫌违法", "合规合法" ] %>

    <%= f.button :button do %>
      请提交查验结果！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交" %>

    <% end %>
  </div>
<% end %>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
