<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

<h3>小区论坛内容投诉</h3>

<% if @forum_complains.empty? %>
  <p>０投诉？您小区的业主们都好遵纪守法呀！</p>
<% else %>

  <% @forum_complains.each do |fc| %>

    <div id="index-card">
      <div><%= time_ago_in_words(fc.created_at) %>以前，</div>

      <table>
        <tr>
          <td width="20%">
            <% if fc.forum.user.identity.sex == "女" %>
              <%= gravatar_female fc.forum.user %>
            <% elsif fc.forum.user.identity.sex == "男" %>
              <%= gravatar_male fc.forum.user %>
            <% end %>
          </td>
          <td width="20%"><span id="name"><%= link_to fc.forum.user.identity.lastname + fc.forum.user.identity.firstname, :controller => 'users', :action => 'show', :id => fc.forum.user_id %></span>

          <td width="20%"><span id="bold"><%= fc.forum.user.identity.residence.role %></span></td>
          <td width="20%"><%= fc.forum.user.identity.age_group %>0后</td>
          <td width="20%"></td>
        </tr>
      </table>

      <p></p>
      <div><span id="bold"><%= fc.forum.id %></span>　是帖子代码</div>
      <div>因＂<%= fc.category %>＂的原因被举报．</div>
      <p>
        <table width = "100%">
          <tr>


            <td width = "35%"><span id="bold">举报成立？</span>
              <% if fc.legitimate == true %>
                <%= image_tag('icons/yes-red-outline.png', width: '25', height: '25', title: '肯定', rel: 'tooltip') %>
              <% elsif fc.legitimate == false %>
                <%= image_tag('icons/no-red-outline.png', width: '23', height: '23', title: '否定', rel: 'tooltip') %>
              <% else %>
                ?
              <% end %>
            </td>

            <td width = "35%">
              <strong>发表状态？</strong>
              <% if fc.forum.published == false %>
                <%= image_tag('icons/no-red-outline.png', width: '23', height: '23', title: '否定', rel: 'tooltip') %>
              <% elsif fc.forum.published == true %>
                <%= image_tag('icons/yes-red-outline.png', width: '25', height: '25', title: '肯定', rel: 'tooltip') %>
              <% else %>
              ?
              <% end %>
            </td>

            <td width = "15%"></td>
            <td width = "15%"><%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '详情', rel: 'tooltip'), fc %></td>
          </tr>
        </table>
      </p>

    </div>
  <% end %>
<% end %>

</div>
