<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

<h3>帖子违规违法举报</h3>

<%= simple_form_for(@forum_complain) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :forum_id, :value => params[:id] %>

  <%= f.hidden_field :community_id, :value => current_user.identity.residence.community_id %>
  <%= f.hidden_field :local_id, :value => current_user.identity.residence.community.local_id %>
  <%= f.hidden_field :district_id, :value => current_user.identity.residence.community.local.district_id %>
  <%= f.hidden_field :city_id, :value => current_user.identity.residence.community.local.district.city_id %>
  <%= f.hidden_field :province_id, :value => current_user.identity.residence.community.local.district.city.province_id %>

  <%= f.input :category, label: false, prompt: "举报类别，必选！", priority: [ "商业广告" ], collection: [ "机器群发", "商业广告", "软文推销", "时事政治", "煽动动乱", "医疗偏方", "战争军事", "玄学迷信", "抄袭侵权", "低俗色情", "粗鲁谩骂", "恐怖暴力", "宣传毒赌", "散布谣言", "其它违规", "涉嫌违法" ] %>

  <%= f.input :content, label: false, as: :text, placeholder: '请解释违规违法的情况。最少4个字，最多140个字，必填。' %>

  <%= f.button :button do %>
    请提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交" %>
  <% end %>

<% end %>


</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
