<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%">
          <% if current_user.level > 49 %>


            <%= link_to image_tag('icons/complain-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), forum_complains_path %><div id="menu-font">全部举报</div>
          <% end %>
        </td>
      </tr>

    </table>
  </div>

<div id="page-title">
  <%= @forum_complain.forum.city.name %><%= @forum_complain.forum.community.name %> <%= image_tag('icons/xiaoqu-red-outline.png', width: '25', height: '25', title: '小区', rel: 'tooltip') %>
</div>
<p>&nbsp;</p>

<div id="section-title">被举报人和对象:</div>
  <div id="index-card">
    <div><%= time_ago_in_words(@forum_complain.forum.created_at) %>以前，</div>

    <table>
      <tr>
        <td width="20%">
          <% if @forum_complain.forum.user.identity.sex == "女" %>
            <%= gravatar_female @forum_complain.forum.user %>
          <% elsif @forum_complain.forum.user.identity.sex == "男" %>
            <%= gravatar_male @forum_complain.forum.user %>
          <% end %>
        </td>
        <td width="20%"><span id="name"><%= link_to @forum_complain.forum.user.identity.lastname + @forum_complain.forum.user.identity.firstname, :controller => 'users', :action => 'show', :id => @forum_complain.forum.user_id %></span>

        <td width="20%"><span id="bold"><%= @forum_complain.forum.user.identity.residence.role %></span></td>
        <td width="20%"><%= @forum_complain.forum.user.identity.age_group %>0后</td>
        <td width="20%"></td>
      </tr>
    </table>

    <p></p>

    <div>
      <%= simple_format(@forum_complain.forum.content, class: 'forum-show-text') %>
    </div>

  <div>
    <%= image_tag('icons/complain-question-red-outline.png', width: '35', height: '35', title: '违规吗？', rel: 'tooltip') %> 以上内容违规吗？
  </div>
</div>
<p>&nbsp;</p>

<div id="section-title">举报人:</div>

<div id = "index-card">

    <div><%= time_ago_in_words(@forum_complain.created_at) %>以前，</div>

    <table>
      <tr>
        <td width="20%">
          <% if @forum_complain.user.identity.sex == "女" %>
            <%= gravatar_female @forum_complain.user %>
          <% elsif @forum_complain.user.identity.sex == "男" %>
            <%= gravatar_male @forum_complain.user %>
          <% end %>
        </td>
        <td width="20%"><span id="name"><%= link_to @forum_complain.user.identity.lastname + @forum_complain.user.identity.firstname, :controller => 'users', :action => 'show', :id => @forum_complain.user_id %></span>

        <td width="20%"><span id="bold"><%= @forum_complain.user.identity.residence.role %></span></td>
        <td width="20%"><%= @forum_complain.user.identity.age_group %>0后</td>
        <td width="20%"></td>
      </tr>
    </table>
  <p></p>
    <div>

      <%= @forum_complain.category %>
    </div>
    <p></p>
    <div>

      <%= @forum_complain.content %>
    </div>

</div>
<p>&nbsp;</p>



  <div id = "index-card">
    <strong>被举报人曾经被惩罚？</strong>
    <% if @penalties.empty? %>
      <%= image_tag('icons/no-red-outline.png', width: '25', height: '25', title: '否定', rel: 'tooltip') %>
    <% else %>
      <%= image_tag('icons/yes-red-outline.png', width: '25', height: '25', title: '肯定', rel: 'tooltip') %>
      <div>
        <% @penalties.each do |penalty| %>
          <ol type = "1">
            <li><%= penalty.identity.lastname %><%= penalty.identity.firstname %>，<%= penalty.penalty_type.name %>，<%= penalty.ending_date %> 惩罚结束</li>
          </ol>
        <% end %>
      </div>
    <% end %>

  </div>
<p>&nbsp;</p>
  <div>
    <strong>1/3，举报是否成立？</strong>
    <% if @forum_complain.legitimate == true %>
      <%= image_tag('icons/yes-red-outline.png', width: '25', height: '25', title: '肯定', rel: 'tooltip') %>
        <% if @forum_complain.identity_id != '1' %>
        by <%= @forum_complain.identity.lastname %><%= @forum_complain.identity.firstname %>
        <% end %>
    <% elsif @forum_complain.legitimate == false %>
      <%= image_tag('icons/no-red-outline.png', width: '25', height: '25', title: '否定', rel: 'tooltip') %>
    <% else %>
      <%= image_tag('icons/question-red-outline.png', width: '25', height: '25', title: '否定', rel: 'tooltip') %>
    <% end %>

  </div>
  <div>
    <strong>2/3，此帖发表状态？</strong>
    <% if @forum_complain.forum.published == true %>
      <%= image_tag('icons/yes-red-outline.png', width: '25', height: '25', title: '肯定', rel: 'tooltip') %>
    <% else %>
      <%= image_tag('icons/no-red-outline.png', width: '25', height: '25', title: '否定', rel: 'tooltip') %>
      <% if @forum_complain.forum.identity_id != '1' %>
      by <%= @forum_complain.forum.identity.lastname %><%= @forum_complain.forum.identity.firstname %>
      <% end %>
    <% end %>

  </div>

  <div>
    <strong>3/3．增加禁言惩罚？</strong>
    <%# if @forum_complain.forum.user.identity.penalty.nil? %>
  </div>
</div>
<p>&nbsp;</p>


<% if @forum_complain.forum.published == true && @forum_complain.legitimate.nil? %>
  <div id = "index-card">
  <div>
    第1/3步．举报成立吗？ <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), edit_forum_complain_path(@forum_complain) %>
  </div>

<% elsif @forum_complain.forum.published == true && @forum_complain.legitimate == true %>
  <div id = "index-card">
  <div>
    第2/3步．再修改发表状态 <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), :controller => 'forums', :action => 'edit', :id => @forum_complain.forum.id %>
  </div>
<%# elsif @forum_complain.forum.published == false && @forum_complain.approved == true && @penalties.ending_date.last < (Time.now - 86400) %>
<% elsif @forum_complain.forum.published == false && @forum_complain.legitimate == true %>
  <div id = "index-card">
  <div>
    第3/3步．最后追加禁言惩罚 <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), :controller => 'penalties', :action => 'new', :id => @forum_complain.forum.user.identity.id %>
  </div>
<% else %>

  </div>
<% end %>


</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
