<% if current_user.identity.status != '已经验证' %>
  <p>您的个人身份信息，必须等到“已经验证”。请耐心等待，谢谢！</p>
  <p>
    <%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), root_url %>
  </p>

  <% else %>
  <table>
    <thead></p>
      <tr>

        <th>姓名</th>
        <th>邮箱</th>

        <th>个人身份</th>
        <th>community</th>
        <th>居住状况</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>

          <td>
            <% if user.identity.nil? %>

            <% else %>
              <%= gravatar_for user %><%= user.identity.lastname %><%= user.identity.firstname %>
              <% end %>


          <td><%= user.email %></td>

            <% if user.identity.nil? %>

            <% else %>
              <td><%= user.identity.status %></td>
            <% end %>


            <% if user.residence.nil? %>

            <% else %>
              <td><%= user.identity.residence.community.name %></td>
              <td><%= user.identity.residence.status %></td>
            <% end %>

          <td><%= link_to 'Show', user %></td>
          <td><%#= link_to 'Edit', edit_user_path(user) %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
