<!-- a user can see her/his own identity info unlimited times-->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 为啥只能看见这位用户的头像，不能看见她他的名字？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 如果是在同一个小区里的邻居，您可以看见她他的名字．这是为了保护用户的隐私．
            </div>

          <!-- <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果得到是“失败验证”，可以删除吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> １０天之后才能删除并且重新填写．
              </div> -->


          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="content-box">

  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

<% if @user.identity.status == '已经验证' && @user.identity.residence.status == '已经验证' %>

    <table>
      <tr>

          <% if @user.identity.sex == "女" %>
            <td width="50%"><%= gravatar_female @user %></td>
            <td width="50%"><%= @user.identity.lastname %>女士</td>
          <% elsif @user.identity.sex == "男" %>
            <td width="50%"><%= gravatar_male @user %></td>
            <td width="50%"><%= @user.identity.lastname %>先生</td>
          <% end %>
      </tr>
    </table>

    <table>
      <tr>

        <td width="20%"><span id="name"><%= @user.identity.residence.community.local.district.city.name %></span></td>

        <td width="20%"><span id="bold"><%= @user.identity.residence.role %></span></td>
        <td width="20%"><%= @user.identity.age_group %>0后</td>
        <td width="40%">
          <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="bottom" data-content="德高望重值．在中国古代，几乎每个村庄都有一位德高望重的长者．现代家园小区亦然．">
            <%= @user.comment0s.where("published = ?", true).sum("score") + @user.comment1s.where("published = ?", true).sum("score") + @user.forums.where("published = ?", true).sum("score") %>德值
            <!-- 20% cell can handle a number of 1000000, or 9000德值 without breaking the table cell. -->
          </button>
        </td>
      </tr>
    </table>
<% else %>

		<div>
			她他的身份信息和居住状况尚未得到＂已经验证＂．
		</div>

<% end %>

<% if @user.id == current_user.id %>
<p>&nbsp;</p>
  <div>
    <%= link_to image_tag('icons/forum-heart-filled.png', width: '30', height: '30', title: '回复', rel: 'tooltip'), :controller => 'favor_forums', :action => 'index', :id => @user.id %> 自己收藏的帖子
  </div>

  <div>
    <%= link_to image_tag('icons/atwork-heart-filled.png', width: '30', height: '30', title: '回复', rel: 'tooltip'), :controller => 'favor_reports', :action => 'index', :id => @user.id %> 自己收藏的汇报
  </div>

<% end %>

<p>&nbsp;</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
  <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
</button>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})

</script>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
