<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(object.errors.count, "个错误") %>致使它不能被保存下来。</h2>

    <div>
      <% object.errors.full_messages.each do |message| %>
        <%= message %></br>
      <% end %>
    </div>
  </div>
<% end %>
