<p>
  <%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), property_managements_path %>
</p>

<h3>更新物业管理公司</h3>

<%= simple_form_for(@property_management) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.input :name, label: false, placeholder: '名称，必填。' %>
    <%= f.input :telephone, label: false, placeholder: '电话号码。' %>
    <%= f.input :note, label: false, placeholder: '详情。' %>
    <%= f.input :pinyin, label: false, placeholder: '名称拼音。' %>
    <%= f.input :website, label: false, placeholder: '网址链接。' %>
    <%= f.input :email, label: false, placeholder: '电子邮箱。' %>
    <%= f.input :socialmedia, label: false, placeholder: '社交媒体。' %>

    <%= f.input :verified %>

  <%= f.button :button do %>
    请更新物业管理公司！ <%= image_tag "icons/forward-arrow-50.png", :size => '25x25', :title => "提交" %>
  <% end %>
　</div>

<% end %>

<p>&nbsp;</p>

<%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), property_managements_path %>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
