
<h3>物业管理公司</h3>

<div id="new-entry-link">
  <%= link_to '创建新物业管理公司', new_property_management_path %> <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "前行" %>
</div>

<p>&nbsp;</p>
<table>
  <!--
  <thead>
    <tr>
      <th>Name</th>
      <th>Telephone</th>
      <th>Note</th>

      <th colspan="3"></th>
    </tr>
  </thead>
-->
  <tbody>
    <% @property_managements.each do |property_management| %>
      <tr>
        <td><%= property_management.name %></td>
        <td><%= property_management.telephone %></td>
        <td><% if property_management.verified == true %><%= image_tag('icons/data-verified.png', width: '25', height: '25', title: '已确认。', rel: 'tooltip') %><% else %><% end %></td>

        <td><%= link_to image_tag('icons/details.png', width: '25', height: '25', title: '详情', rel: 'tooltip'), property_management %></td>
        <td><%#= link_to 'Edit', edit_property_management_path(property_management) %></td>
        <td><%#= link_to 'Destroy', property_management, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
