<p>
  <%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), property_managements_path %>
</p>

<p>
  <strong>Name:</strong>
  <%= @property_management.name %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @property_management.telephone %>
</p>

<p>
  <strong>Note:</strong>
  <%= @property_management.note %>
</p>

<p>
  <strong>Pinyin:</strong>
  <%= @property_management.pinyin %>
</p>

<p>
  <strong>Website:</strong>
  <%= @property_management.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @property_management.email %>
</p>

<p>
  <strong>Socialmedia:</strong>
  <%= @property_management.socialmedia %>
</p>

<p>
  <strong>User:</strong>
  <%#= @property_management.user_id %>
  <%#= @property_management.user.identity.lastname %><%#= @property_management.user.identity.firstname %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @property_management.verified %>
</p>

<p>
  <strong>Identity:</strong>
  <%#= @property_management.identity %>
</p>


<p>&nbsp;</p>
<div>
  <table width = "100%">
    <tr>
      <td width = "33%"><%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), property_managements_path %></td>
      <td width = "33%"><%# if @report.closed == true or @report.unit == current_user.identity.residence.unit %><%# else %><%= link_to image_tag('icons/edit-property-50.png', width: '25', height: '25', title: '更新', rel: 'tooltip'), edit_property_management_path(@property_management) %><%# end %></td>
      <td width = "33%"><%# if @report.user_id != current_user.id or @report.closed == true %><%# else %><%= link_to image_tag('icons/trash-can.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @property_management, method: :delete, data: { confirm: '确定删除吗?' } %><%# end %></td>
    </tr>
  </table>
</div>
