<%= simple_form_for(@identity_photo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :identity %>
    <%= f.input :name %>
    <%= f.input :photo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
