<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">身份证照片</div>


<table>
  <thead>
    <tr>
      <th>Identit</th>
      <th>Name</th>

    </tr>
  </thead>

  <tbody>
    <% @identity_photos.each do |identity_photo| %>
      <tr>
        <td><%= identity_photo.identity.lastname %><%= identity_photo.identity.firstname %></td>
        <td><%= link_to identity_photo.name, identity_photo %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
