<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 上传错了照片，可以删除吗？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 在１小时之内，可以删除并且重新上传．
            </div>

          <!-- <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱能不能删除自己“已经验证”的个人身份信息？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 目前暂时还没有此功能．
              </div> -->

          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<div class="content-box">

<div>
  <table id="full">
    <tr>
      <td width = "20%">
        <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
      </td>

      <td width = "20%">

      </td>

      <td width = "20">

      </td>

      <td width = "20%">
        <% if current_user.id == @identity_photo.identity.user.id && Time.zone.now - @identity_photo.created_at < 3600 %>
          <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @identity_photo, method: :delete, data: { confirm: '确定删除吗？' } %><div id="menu-font">删除照片</div>
        <% end %>

        <!--1 is one second. 60*60*24 = 86400s/d, thus 3600 is one hour. The user cannot delete it after one hour in production-->
      </td>

      <td width = "20%">
        <%= link_to image_tag('icons/id-card-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), :controller => 'identities', :action => 'show_self', :id => @identity_photo.identity.id %><div id="menu-font">身份信息</div>
      </td>
    </tr>

  </table>
</div>

<div id="page-title"><%= @identity_photo.identity.lastname %><%= @identity_photo.identity.firstname %></div>

  <div id="index-card">
    <div id="ago">
      <%= time_ago_in_words(@identity_photo.created_at) %>以前，（１小时之内可删除）
    </div>
    <p></p>
    <div>
      <%= @identity_photo.name %>
    </div>

    <div>
      <%= image_tag @identity_photo.photo.url, width: '100%', height: '100%' if @identity_photo.photo? %>
    </div>

  </div>

  <p>&nbsp;</p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
    <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '常见问题回答', rel: 'tooltip' %> 常见问题回答
  </button>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
