<%= form_tag votes_path, method: :post, remote: true, id: 'voting_form' do %>

  <%= hidden_field_tag 'poll[id]', @poll.id %>

  <%= render partial: 'polls/vote_option', collection: @poll.vote_options, as: :option %>

  <p><b>总共投票数: <%= @poll.votes_summary %></b></p>

  <% if current_user.voted_for?(@poll) %>

    <p>您已经投过票了，谢谢您的投票！截止日期之后才能看见投票结果</p>

  <% elsif (Time.zone.now - @poll.created_at)/86400 > @poll.deadline %>
    <p>很抱歉！投票时间已经关闭。下次下手要快呀！</p>
  <% else %>
    <div id="hint">
       备注：

      <div>* 发表者可以在发布的３小时内删除此意见投票。最好在３小时以后投票。</div>

    </div>

    <p></p>
      <%= submit_tag '提交', class: 'btn btn-dark' %>
  <% end %>

<% end %>
