<div class="form-group">

  <%= content_tag(:label) do %>
    <% unless current_user.voted_for?(@poll) %>
      <%= radio_button_tag 'vote_option[id]', option.id %>
    <% end %>
    <%= option.title %>
  <% end %>

<!-- 不到截止日期，看不见结果 -->
  <% if (Time.zone.now - @poll.created_at)/86400 > @poll.deadline %>
    <%= visualize_votes_for option %>
  <% end %>

</div>
