

<div class="nested-fields">

  <div class="form-group">
    <table>
      <tr>
        <td width="88%"><%= f.text_field :title, class: 'form-control', required: true, placeholder: "请添加一个投票选项．．．" %></td>
        <td width="12%"><%= link_to_remove_association "删除", f %></td>
      <tr>
    </table>
  </div>

</div>
