<p></p>
<div>
  <%= @poll.topic %>
</div>
<%= form_for ([@poll.community, @poll]) do |f| %>
  <%= render 'shared/errors', object: @poll %>


  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>

  <%= f.submit 'submit', class: 'btn btn-primary btn-lg' %>
<% end %>
