<div class="content-box">

  <div id="page-title">
    意见调查
  </div>


  <p></p>
    <% @polls.each do |poll| %>

      <div id = "index-card">
        <div id="time-ago">
          <%= time_ago_in_words(poll.created_at) %>以前
        </div>


        <table width="100%">
          <tr>
            <td width="20%">
              <% if poll.user.identity.sex == "女" %>
                <%= gravatar_female poll.user %>
              <% elsif poll.user.identity.sex == "男" %>
                <%= gravatar_male poll.user %>
              <% end %>


            </td>
            <td width="20%"><span id="name"><%= link_to poll.user.identity.lastname + poll.user.identity.firstname, :controller => 'users', :action => 'show', :id => poll.user_id %></span></td>

            <td width="20%"><span id="bold"><%= poll.user.identity.residence.role %></span></td>
            <td width="20%"><%= poll.user.identity.age_group %>0后</td>
            <td width="20%"></td>
          </tr>
        </table>

        <div id="poll-topic"><%= poll.topic %></div>

        <div id="poll-total">(总投票: <span class="badge badge-pill badge-primary"><%= poll.votes_summary %></span>)</div>

        <p></p>

        <%# if current_user.voted_for?(@poll) %>
          <!--  <p>您已经投过票了，谢谢您的投票！截止日期之后才能看见投票结果</p>-->
        <% if poll.deadline > ((Time.zone.now - poll.created_at)/86400).round(0) %>
<p></p>
          <div id="time-ago">截止日期还剩下<%= poll.deadline - ((Time.zone.now - poll.created_at)/86400).round(0) %>天。截止日期以后，才能看见投票结果．</div>
<p></p>
          <div id="forward-poll">
            <%= link_to '去投票！', poll_path(poll) %><%= link_to image_tag("icons/forward-arrow-filled.png", :size => '25x25', :title => "提交"), poll_path(poll) %>
          </div>
        <% else %>
<p></p>
          <div id="time-ago">已经过了<%= poll.deadline %>天的截止日期。</div>
<p></p>
          <div id="forward-detail">
            <%= link_to '查看投票结果！', poll_path(poll) %><%= link_to image_tag("icons/forward-arrow-filled.png", :size => '25x25', :title => "提交"), poll_path(poll) %>
          </div>
        <% end %>

<p></p>
      </div> <!-- index-card ends -->
    <% end %><!-- poll form ends -->
</div>

<div class="bottom-menu">
  <table id="full">
    <tr>
      <td width = "20%">

      </td>

      <td width = "20%">

      </td>

      <td width = "20">

          <%= link_to image_tag('icons/roadsign-plus-filled.png', width: '35', height: '35', title: '发起调查', rel: 'tooltip'), new_poll_path %><div id="menu-font">发起调查</div>

      </td>

      <td width = "20%">

      </td>

      <td width = "20%">

      </td>
    </tr>

  </table>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
