<div class="content-box">

  <div id="page-title">
    发起调查
  </div>

<% if current_user.identity.penalty.nil? or current_user.identity.penalty.ending_date < Time.zone.now %>


  <%= form_for (@poll) do |f| %>
    <%= render 'shared/errors', object: f.object %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :community_id, :value => current_user.identity.residence.community.id %>
    <%= f.hidden_field :local_id, :value => current_user.identity.residence.community.local.id %>
    <%= f.hidden_field :district_id, :value => current_user.identity.residence.community.local.district.id %>
    <%= f.hidden_field :city_id, :value => current_user.identity.residence.community.local.district.city.id %>
    <%= f.hidden_field :province_id, :value => current_user.identity.residence.community.local.district.city.province.id %>
<p></p>
<p></p>
    <div class="form-group">
      <%#= f.label :意见调查 %>
      <%= f.text_area :topic, rows: 6, required: true, class: 'form-control', placeholder: "请添加意见调查内容。例如，小区的清洁工作是否应该再提高一些？最少13字，最多140字" %>
      <!--140 / 24 = 6 row-->
    </div>
    <div class="field">

      <%= f.radio_button(:deadline, "3") %>
      <%= f.label("截止日期是３天以后") %></br>
      <%#= f.radio_button(:deadline, "5") %>
      <%#= f.label("截止日期是５天以后") %>
      <%= f.radio_button(:deadline, "7") %>
      <%= f.label("截止日期是７天以后") %></br>
      <%= f.radio_button(:deadline, "15") %>
      <%= f.label("截止日期是１５天以后") %></br>
      <%= f.radio_button(:deadline, "30") %>
      <%= f.label("截止日期是３０天以后") %></br>
      <%#= f.radio_button(:deadline, "90") %>
      <%#= f.label("截止日期是９０天以后") %>
    </div>

    <div class="panel panel-default">
      <!--<div class="panel-heading">意见</div>-->
      <div class="panel-body">
        <%= f.fields_for :vote_options do |options_form| %>
          <%= render 'vote_option_fields', f: options_form %>
        <% end %>

        <div class="links">
          <%= link_to_add_association '请点击添加一个投票选项，例如，“是”，“否”等等。', f, :vote_options %>
        </div>
      </div>
    </div>
    <%#= recaptcha_tags %>
    <p>
      <div id="hint">
      备注：“弃权投票”和“放弃投票”，是完全不同的两个概念。强烈建议添加一个“弃权投票”选项。
      </div>
    </p>
    <%= f.submit '提交', class: 'btn btn-dark' %>
  <% end %>

<% else %>
  <div>
    <%= current_user.identity.penalty.penalty_type.name %></br>
    直到　<%= current_user.identity.penalty.ending_date %></br>
    现在是　<%= Time.now %>
  </div>

  <%= link_to '回家', root_path %>
<% end %>

<p>&nbsp;</p>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> “弃权投票”和“放弃投票”在概念上到底有什么不一样？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> “弃权投票”表示她他在考虑了所有的选项后，认为每一个选项都有些道理，在无法决择后的无奈选择．而“放弃投票”就是没有投票，可能是她他对这个意见调查根本没有兴趣，没有投票的意向，或者是她他根本就没有读到过这个意见调查．
            </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 在一个意见调查中，如果选择“弃权投票”的人数太多，是代表了什么意思呢？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 这代表很多人在仔细地考虑了所有的选项后，仍然无法决择后的无奈选择．大家可能对这个意见调查的内容，想要进行更多时间，更有深度的思考．
              </div>


          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
  <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
</button>


</div>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
