<div class="content-box">

<div id="page-title">调查结果</div>

<% if @poll.community.id != current_user.identity.residence.community_id %>

  <div>
    您只能看到自己的小区.
    <p><%= link_to '回家', root_url %></p>
  </div>

<% else %>

<div id ="index-card">
  <div id="time-ago">
    <%= time_ago_in_words(@poll.created_at) %>以前
  </div>
<p></p>

  <table width="100%">
    <tr>
      <td width="20%">
        <% if @poll.user.identity.sex == "女" %>
          <%= gravatar_female @poll.user %>
        <% elsif @poll.user.identity.sex == "男" %>
          <%= gravatar_male @poll.user %>
        <% end %>


      </td>
      <td width="20%"><span id="name"><%= link_to @poll.user.identity.lastname + @poll.user.identity.firstname, :controller => 'users', :action => 'show', :id => @poll.user_id %></span></td>

      <td width="20%"><span id="bold"><%= @poll.user.identity.residence.role %></span></td>
      <td width="20%"><%= @poll.user.identity.age_group %>0后</td>
      <td width="20%"></td>
    </tr>
  </table>

  <div id="poll-topic"><%= @poll.topic %></div>
    <div id="time-ago">
      <% if @poll.deadline > ((Time.zone.now - @poll.created_at)/86400).round(0) %>
      <p></p>
          截止日期还剩下<%= @poll.deadline - ((Time.zone.now - @poll.created_at)/86400).round(0) %>天。截止日期以后，才能看见投票结果．请耐心等待．．．

      <% else %>
      <p></p>
        已经过了<%= @poll.deadline %>天的截止日期。
      <% end %>
    </div>
<p></p>
  <%= render 'voting_form' %>

  <script data-turbolinks-track="true">
    $(document).ready(function() {
      var voting_form = $('#voting_form');
      voting_form.validate({
        focusInvalid: false,
        errorClass: 'alert alert-warning',
        errorElement: "div",
        errorPlacement: function(error, element) { voting_form.before(error); },
        rules: {
          'vote_option[id]': {
            required: true
          }
        },
        messages: {
          'vote_option[id]': {
            required: "请选择其中的一个选项."
          }
        }
      });
    });
  </script>

</div>


<% end %>


</div><!--content-box ends -->

<div class="bottom-menu">
  <table id="full">
    <tr>
      <td width = "20%">
      </td>

      <td width = "20%">
      </td>

      <td width = "20">

          <% if current_user.identity.nil? or current_user.identity.status != '已经验证' or current_user.identity.residence.nil? or current_user.identity.residence.status != '已经验证' %>

          <% else %>
            <div class="btn-group dropup">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div><%= image_tag('icons/plus-filled.png', width: '35', height: '35', title: '更多菜单', rel: 'tooltip') %></div>

              </button>

              <div class="dropdown-menu">

                <div>
                  <%= link_to image_tag('icons/roadsign-filled.png', width: '35', height: '35', title: '返回', rel: 'tooltip'), polls_path %> <%= link_to '全部调查', polls_path %>
                </div>

                <div id="image-holder">
                  <%= image_tag('icons/complain-filled.png', width: '35', height: '35', title: '工作中...', rel: 'tooltip') %> 投诉此贴
                </div>
<!--
                <div id="image-holder">
                  <%#= image_tag('icons/export-filled.png', width: '35', height: '35', title: '工作中...', rel: 'tooltip') %> 分享转发
                </div>
-->
                <div>

                  <% if @poll.user.id == current_user.id && (Time.zone.now - @poll.created_at)/60 < 60 %>
                    <%= link_to image_tag('icons/trash-filled.png', width: '35', height: '35', title: '删除', rel: 'tooltip'), @poll, method: :delete, data: { confirm: '确定删除吗？' } %>删除此贴?
                  <% end %>
                </div>




              </div>
            </div>

        <% end %>
      </td>

      <td width = "20%"></td>

      <td width = "20%" id="image-holder"></td>
    </tr>

  </table>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
