<%# @user.favor_reports.each do |f| %>


  <div id="index-card">
    <div id="time-ago"><%= (favor_forum.forum.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>

    <%# if @user.id == current_user.id %>
      <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), favor_forum, method: :delete, data: { confirm: '确定删除此收藏吗?' } %>
    <%# end %>
      <%= truncate(favor_forum.forum.content, length: 28) %> <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '详情', rel: 'tooltip'), favor_forum.forum %>

  </div>
  <p></p>
<%# end %>
