<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">
          <!-- <%#= link_to like_forum_path(@forum), method: :put do %>
            <%#= image_tag'icons/like-plus-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip' %>
            <span class="badge"><%#= @forum.likevotes.get_upvotes.size %></span>
          <%# end %> -->
        </td>

        <td width = "20%"></td>

        <td width = "20%"><%= link_to image_tag('icons/forum-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), forums_path %><div id="menu-font">全部帖子</div></td>
      </tr>

    </table>
  </div>
<div id="page-title">收藏帖子</div>

<p>&nbsp;</p>
  <div id="index-card">
    <%= simple_form_for @favor_forum do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :forum_id, :value => params[:id] %>
        <%= f.hidden_field :score, :value => "1" %>

      </div>
      <div>确定收藏此贴？是，请提交．</div>
      <p>&nbsp;</p>
      <%= f.button :button do %>
        提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交" %>
      <% end %>
    <% end %>
  </div>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
