<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @favor_forum.user %>
</p>

<p>
  <strong>Forum:</strong>
  <%= @favor_forum.forum %>
</p>

<p>
  <strong>Score:</strong>
  <%= @favor_forum.score %>
</p>

<%= link_to 'Edit', edit_favor_forum_path(@favor_forum) %> |
<%= link_to 'Back', favor_forums_path %>
