<%= form_for(identity) do |f| %>
  <% if identity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(identity.errors.count, "error") %> prohibited this identity from being saved:</h2>

      <ul>
      <% identity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  

  <div class="field">
    <%= f.label :sex_id %>
    <%= f.collection_select(:sex_id, Sex.all, :id, :name) %>

  </div>

  <div class="field">
    <%= f.label :id_type_id %>
    <%= f.collection_select(:id_type_id, IdType.all, :id, :name) %>

  </div>

  <div class="field">
    <%= f.label :id_number %>
    <%= f.text_field :id_number %>
  </div>

  <div class="field">
    <%= f.label :birth_year %>
    <%= f.number_field :birth_year %>
  </div>

  <div class="field">
    <%#= f.label :status_id %>
    <%#= f.collection_select(:status_id, Status.all, :id, :name) %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
