<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果咱无法判断此用户的身份证信息与身份证照片是否吻合，可以放弃验证吗？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 可以．点击LOGO, 回到首页．
            </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 放弃验证她他人后，对咱有什么影响吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 您总共只有２次验证她他人的机会，您已经浪费了１次．除此之外，没有任何影响．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果咱在验证某人出了差错，对咱有什么影响吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 这要看是有意还是无意．“小区记忆”是小区业主和居民们自我管理的手机应用，是咱们自己的网上家园小区。允许有真实身份的人进入，又或者禁止虚假身份的人进入，是您的责任！您在平台上的任何举止都是有记录的．咱们相信您不会失信于其他邻居的．
              </div>

          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title"><%= @identity.lastname %><%= @identity.firstname %></div>
    <div id="index-card">
      <p></p>

      <div>请问<span id="data-entry"><%= @identity.lastname %><%= @identity.firstname %></span>在上一页里，所填写的信息和照片上的信息是否一致？</div>
      <p></p>

      <div>如果是，请选择“已经验证”</div>
      <div>如果否，请选择“失败验证”</div>


      <p></p>
      <%= simple_form_for(@identity) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%#= f.hidden_field :lastname, :value => f.lastname %>
          <%#= f.hidden_field :firstname, :value => f.firstname %>
          <%#= f.hidden_field :id_number, :value => f.id_number %>
          <%#= f.hidden_field :user_id, :value => f.user_id %>
          <%#= f.input :lastname, label: false %>
          <%#= f.input :firstname, label: false %>
          <%#= f.input :id_number, label: false %>
          <%#= f.input :user_id, label: false %>

          <%= f.input :status, label: "请选择以下验证结果：", prompt: '验证结果，必选！', collection: [ "失败验证", "已经验证" ] %>


        <%= f.button :button do %>
          提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交" %>
        <% end %>

      </div>
    <% end %>
    </div>

    <p>&nbsp;</p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
      <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
    </button>

</div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
