
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱的身份证号码会被多少人可见？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 1个人，或者2个人．她他必须是一位自己的个人身份信息得到了“已经验证”的用户．一旦＂已经验证＂之后，除了自己以外，其他用户不可见．
            </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱的法定真实姓名会被多少人可见？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 在您自己居住的小区里的，得到“已经验证”的真实业主和邻居可以看见，小区外的用户不可见．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 提交了真实的个人身份信息后，咱要等待多久才能得到“已经验证”？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 先提交个人身份信息，再提交2张身份证照片，确定正确无误之后，再进入排队序列，随机地等待某一位＂已经验证＂用户，或者平台管理部的检验．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 万一得到了“失败验证”，会发生什么？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 您的账号就会保证原始状态．所以请提交真实的个人身份信息．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 提交了咱的真实个人信息之后，发现不正确，可以删除吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 在1小时之内，您可以删除．但在删除了３次之后，您不可以再次填写个人身份信息．请务必填写真实的个人身份信息．
              </div>

          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="content-box">

<div>
  <table id="full">
    <tr>
      <td width = "20%">
        <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
      </td>

      <td width = "20%">

      </td>

      <td width = "20">

      </td>

      <td width = "20%"></td>

      <td width = "20%"></td>
    </tr>

  </table>
</div>

<%# if @num_identity_destroy && @num_identity_destroy < 12 %>
<div id="page-title">请填写个人身份信息</div>

  <%= simple_form_for(@identity) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.input :lastname, label: false, placeholder: "您的法定姓氏，最多１２个字，必填。" %>

      <%= f.input :firstname, label: false, placeholder: "您的法定名字，最多１２个字，必填。" %>

      <%= f.input :sex, label: false, priority: [ "女" ], collection: [ "男", "女" ] %>

      <%= f.input :id_number, label: false, input_html: { minlength: 18, maxlength: 18 }, placeholder: "身份证号码，１８个字，必填！" %>

      <%= f.button :button do %>
        提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交" %>
      <% end %>
    </div>
  <% end %>

<%# else %>
<!--  <div>
    您删除您自己的个人身份信息的次数太多。请联络客服部，support＠xq234.com，我们客服人员已经急不可耐的想来帮您了，谢谢！
  </div>
-->
<%# end %>
<p>&nbsp;</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
  <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
</button>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
