<!-- a user can see her/his own identity info unlimited times-->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 刚刚填写的个人身份信息，咱可以删除吗？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 在１小时之内，可以删除并且重新填写．但只能删除２次，第３次上传的资料必须正确．
            </div>

          <!-- <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱能不能删除自己“已经验证”的个人身份信息？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 目前暂时还没有此功能．
              </div> -->

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果没有能够在１小时内删除错误的个人身份信息，又或者第３次上传的个人身份信息还是错误的，会发生什么？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 您的账户会被锁死，直到１０天之后．咱们的计算资源有限，无法承担别有用心的个人或者机器人无限制地重复上传和重复删除．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果上传的资料已经备齐，而且正确无误，但尚未申请验证，会发生什么？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 您的资料无法进入验证排队序列，您也暂时无法成为＂小区记忆＂会员．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 个人身份信息在“已经验证”以后，咱会有哪些权限？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 一，为加入您自己的小区创造了条件，二，可以阅读更多版块的信息．．
              </div>

          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="content-box">

<div>
  <table id="full">
    <tr>
      <td width = "20%">
        <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
      </td>

      <td width = "20%">

      </td>

      <td width = "20">

      </td>

      <td width = "20%">
        <% if current_user.id == @identity.user_id && Time.zone.now - @identity.updated_at < 3600 && @identity.ready != true %>
          <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @identity, method: :delete, data: { confirm: '确定删除吗？' } %><div id="menu-font">删除此贴</div>
        <% elsif current_user.id == @identity.user_id && Time.zone.now - @identity.updated_at > 10 && @identity.status == '失败验证' %>
          <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @identity, method: :delete, data: { confirm: '确定删除吗？' } %><div id="menu-font">删除此贴</div>
        <% end %>
      <!--1 is one second. 60*60*24 = 86400s/d, thus 3600 is one hour. The user cannot delete it after one hour in production--></td>

      <td width = "20%"></td>
    </tr>

  </table>
</div>

<% if @identity.status == '等待验证' %>

  <div id="page-title">
    <%= @identity.lastname %><%= @identity.firstname %>
  </div>
<p></p>
  <div id="index-card">
    <div id="ago">
      <%= time_ago_in_words(@identity.created_at) %>以前,
    </div>

    <p></p>


<p></p>
      <div>
        身份证号：<span id='data-entry'><%= @identity.id_number %></span>
      </div>
<p></p>
      <div>
        出生于<span id='data-entry'><%= @identity.birth_year %></span>年
      </div>

  </div>

<p></p>
        <div id="ago"><%= image_tag('icons/one-checked-red-outline.png', width: '25', height: '25', title: '验证人', rel: 'tooltip') %> ＂已经验证＂的志愿验证人可见</div>
<p></p>
        <div id="ago"><%= image_tag('icons/no-others-red-outline.png', width: '25', height: '25', title: '其他人', rel: 'tooltip') %> 其他人不可见</div>
<p></p>
      <div id="ago">
        <%= image_tag('icons/id-question-red-outline.png', width: '25', height: '25', title: '已经验证', rel: 'tooltip') %> 等待验证
      </div>
<p>&nbsp;</p>
    <% if @identityphotos.empty? %>
      请上传正反2张身份证照片 <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller => 'identity_photos', :action => 'new', :id => current_user.identity.id %>

    <% elsif @identityphotos.size < 2 %>
      <% @identityphotos.each do |ip| %>
        <div id="index-card">
          <div><%= image_tag ip.photo.url, width: '100%', height: '100%' if ip.photo? %></div>
          <div>
            <% if current_user.id == ip.identity.user.id && Time.zone.now - ip.created_at < 111113600 && ip.identity.ready != true %>
              <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), ip, method: :delete, data: { confirm: '确定删除吗？' } %>
            <% end %>
          </div>
          <!--1 is one second. 60*60*24 = 86400s/d, thus 3600 is one hour. The user cannot delete it after one hour in production-->
        </div>
        <p></p>

      <% end %><!--  photos ends -->
      <p></p>
  </div>
<p>&nbsp;</p>
      <div>
        至少2张照片，请再上传1张照片<%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller => 'identity_photos', :action => 'new', :id => current_user.identity.id %>
      </div>
<p>&nbsp;</p>
    <% else %>
      <% @identityphotos.each do |ip| %>
        <div id="index-card">
          <div><%= image_tag ip.photo.url, width: '100%', height: '100%' if ip.photo? %></div>

          <div>
            <% if current_user.id == ip.identity.user.id && Time.zone.now - ip.created_at < 3600 && ip.identity.ready != true %>
              <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), ip, method: :delete, data: { confirm: '确定删除吗？' } %>
            <% end %>
          </div>
          <!--1 is one second. 60*60*24 = 86400s/d, thus 3600 is one hour. The user cannot delete it after one hour in production-->
        </div>
        <p>&nbsp;</p>

      <% end %><!--  photos ends -->
      <p></p>
    </div>

  <% end %>

  </div>

  <p></p>
<div>
  <p></p>
  <% if @identity.ready != true && @identityphotos.size < 2 %>
  资料尚未备齐...
  <% elsif @identity.ready != true && @identityphotos.size == 2 %>
  资料已经齐备，请申请验证 <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), edit_self_identity_path %>
  <% elsif @identity.ready == true %>
    已经提交申请验证! 请耐心等待验证...

  <% end %>
  </div>

<% elsif @identity.status == '失败验证' %>
  <div id="page-title">
    <%= @identity.lastname %><%= @identity.firstname %>
  </div>
<p></p>

<div id="index-card">

  <p></p>
  <div>
    您的个人信息是随机地，由某一位＂已经验证＂的志愿会员验证的．
  </div>
  <p></p>
  <div>
    如有错误，请电邮客服15002338190@139.com, 咱们非常乐意帮助您！
  </div>
  <p></p>
  <div>
    又或者10天之后回来删除，再重新上传真实正确的个人信息资料，谢谢您的理解！
  </div>

</div>
<p></p>
<div>
  <%= image_tag('icons/id-no-red-outline.png', width: '25', height: '25', title: '失败验证', rel: 'tooltip') %>　<span id ="data-entry"><%= @identity.status %></span>
</div>

<% else %>

  <p></p>
<div id="page-title"><%= @identity.lastname %><%= @identity.firstname %></div>

<div id="index-card">
  <div id="ago">
    <%= time_ago_in_words(@identity.updated_at) %>以前,
  </div>

  <p></p>

    <div>
      <%= @identity.id_number %>
    </div>
  <p></p>
    <div>
      出生于<%= @identity.birth_year %>年
    </div>

</div>
<p>&nbsp;</p>
<div id="ago">
  <%= image_tag('icons/no-neighbour-red-outline.png', width: '25', height: '25', title: '小区邻居', rel: 'tooltip') %> 以上信息小区邻居不可见
</div>
<p></p>
<div id="ago">
  <%= image_tag('icons/no-others-red-outline.png', width: '25', height: '25', title: '其他人', rel: 'tooltip') %> 以上信息其他人不可见
</div>
  <p></p>
<div id="ago">
  <%= image_tag('icons/id-checked-red-outline.png', width: '25', height: '25', title: '已经验证', rel: 'tooltip') %>, 已经验证。
</div>
<% end %>

<p>&nbsp;</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
  <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '常见问题回答', rel: 'tooltip' %> 常见问题回答
</button>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
