
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果咱既不能肯定，也不能否定此用户的身份证信息是否与照片上的一致，可以放弃验证吗？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 可以．请按LOGO, 回到主页．
            </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果放弃认证，对自己有任何影响吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 您总共有2次验证新用户的机会．只剩下1次了．其它没影响．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果有会员在验证时出了差错，对她他有什么影响？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 如果是无意的错误，平台是不会介意的．会员的每一个举动都是记录在案的．
              </div>

          <!-- <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果有人做假身份证的手段太高超，咱被她他骗过怎么办？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 只能怪她他太狡猾．这不是您的责任．平台管理人员也不会不讲道理．
              </div> -->

          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

<!-- this is page to record read number. limited read number for each user in controller. Due to privacy, we do not allow one particular user can see more than two other's private inforamtion in production--->

<%# if @num_identity_read < 5 %>
  <div>
    <%#= @num_identity_readon %>
  </div>

<% if @identity.status != '等待验证' %>
  <p>此用户居住状况并非“等待验证”。谢谢！</p>

  <% else %>


    <div id="page-title"><%= @identity.lastname %><%= @identity.firstname %></div>

    <div id="index-card">
      <div id="ago">
        创建于<%= time_ago_in_words(@identity.created_at) %>以前.
      </div>
      <p>&nbsp;</p>
      <div>
        身份证号：<span id="data-entry"><%= @identity.id_number %></span>
      </div>
<p></p>
      <div>
        出生于<span id="data-entry"><%= @identity.birth_year %></span>年
      </div>
    </div>

      <p>&nbsp;</p>
      <div id="section-title">
        以上的个人身份证信息与以下的照片是否互相吻合？
      </div>
    <p>&nbsp;</p>

    <div id="index-card">
      <% @identityphotos.each do |photo| %>

        <div><%= image_tag photo.photo.url, width: '100%', height: '100%' if photo.photo? %></div>
        <p></p>

        </div>
        <p>&nbsp;</p>
      <% end %><!--  photos ends -->

<p></p>
    <div>
      请给出验证结果 <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '去下一步', rel: 'tooltip'), edit_identity_path(@identity) %>
    </div>

  </div>

<% end %>

  <p>&nbsp;</p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
    <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
  </button>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
