
<%# @user.favor_reports.each do |f| %>

  <div id="index-card">
    <div id="time-ago"><%= (favor_report.report.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>

    <%# if @user.id == current_user.id %>
      <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), favor_report, method: :delete, data: { confirm: '确定删除此收藏吗?' } %>
    <%# end %>
    在第<span id="data-entry"><%= favor_report.report.building %></span>栋建筑的<% if favor_report.report.floor? %><span id="data-entry">第<%= favor_report.report.floor %></span>层楼<% end %>，<span id="data-entry"><%= favor_report.report.surround %></span><% if favor_report.report.unit? %>邻居单元号，<span id="data-entry"><%= favor_report.report.unit %></span><% else %><span id="data-entry"><%= favor_report.report.facility_type %></span><% end %> <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '详情', rel: 'tooltip'), favor_report.report %>

  </div>
  <p></p>
<%# end %>
