<%= simple_form_for(@favor_report) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :report %>
    <%= f.input :score %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
