<div class="content-box">


  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"><%= link_to image_tag('icons/atwork-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), reports_path %><div id="menu-font">全部汇报</div></td>
      </tr>

    </table>
  </div>

  <div id="page-title">自己收藏的汇报</div>

  <%= will_paginate @favor_reports %>

  <div id="favor_reports">
      <%= render @favor_reports %>
  </div>

  <%= will_paginate @favor_reports %>

</div><!-- content-box ends -->

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
