<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @favor_report.user %>
</p>

<p>
  <strong>Report:</strong>
  <%= @favor_report.report %>
</p>

<p>
  <strong>Score:</strong>
  <%= @favor_report.score %>
</p>

<%= link_to 'Edit', edit_favor_report_path(@favor_report) %> |
<%= link_to 'Back', favor_reports_path %>
