<%= cache(['notifications', Notifications::VERSION, notification]) do %>
<div id="notification-<%= notification.id %>"
     data-id="<%= notification.id %>"
     class="media notification notification-<%= notification.notify_type %><%= ' unread' unless notification.read? %>">
  <div class="media-left">
    <% if notification.actor_profile_url && notification.actor_avatar_url %>
      <%= link_to image_tag(notification.actor_avatar_url), notification.actor_profile_url, title: notification.actor_name, class: 'user-avatar' %>
    <% end %>
  </div>
  <div class="media-body">
      <%= render partial: "/notifications/#{notification.notify_type}", locals: { notification: notification } %>
  </div>
  <!-- <div class="media-right">
    <%#= l notification.created_at, format: :short %>
  </div> -->
</div>
<% end %>
