<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %>
          <!-- <div id="menu-font">返回上页</div> -->
        </td>

        <td width = "40%">
          <div id="page-title">全部消息</div>

        </td>


        <td width = "20%">
          <div>
            <%#= link_to '删除所有消息', notifications.clean_notifications_path, class: 'btn btn-sm btn-secondary', method: 'delete' %>

            <%= link_to image_tag('icons/trash-filled.png', width: '30', height: '30', title: '删除', rel: 'tooltip'), notifications.clean_notifications_path, method: 'delete' %>
            <!-- <div id="menu-font">删除消息</div> -->
          </div>
        </td>

        <td width = "20%">

        </td>
      </tr>

    </table>
  </div>

  <p></p>
<!-- <div class="notifications row"> -->
  <div class="list">
    <% if @notifications.blank? %>
      <div class="no-records"><%= '0消息' %></div>
    <% else %>
      <% @notification_groups.each do |group, notifications| %>
        <div class="notification-group">
          <div class="group-title"><%= group %></div>

            <div id="index-card">
              <%= render notifications %>
            </div>
              <p></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= paginate @notifications %>
<!-- </div> -->


</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
