<%= form_for(penalty) do |f| %>
  <% if penalty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(penalty.errors.count, "error") %> prohibited this penalty from being saved:</h2>

      <ul>
      <% penalty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :penalty_type_id %>
    <%= f.text_field :penalty_type_id %>
  </div>

  <div class="field">
    <%= f.label :identity_id %>
    <%= f.text_field :identity_id %>
  </div>

  <div class="field">
    <%= f.label :starting_date %>
    <%= f.date_select :starting_date %>
  </div>

  <div class="field">
    <%= f.label :ending_date %>
    <%= f.date_select :ending_date %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
