<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>


<h1>惩罚</h1>

<table>
  <thead>
    <tr>

      <th>姓名</th>
      <th>城市</th>
      <th>小区</th>
      <th></th>
      <!--<th>Starting date</th>-->
      <th>惩罚结束日</th>
      <!--<th>Note</th>
      <th>发出者</th>
      -->

    </tr>
  </thead>

  <tbody>
    <% @penalties.each do |penalty| %>
      <tr>

        <td><%= penalty.identity.lastname %><%= penalty.identity.firstname %></td>
        <td><%= penalty.identity.residence.community.local.district.city.name %></td>
        <td><%= penalty.identity.residence.community.name %></td>
        <td><span id="bold"><%= link_to penalty.penalty_type.name, penalty %></span></td>
        <!--<td><%= penalty.created_at %></td>-->
        <td><%= penalty.ending_date %></td>
        <!--<td><%= penalty.note %></td>
        <td><%= penalty.user.identity.lastname %><%= penalty.user.identity.firstname %></td>
        -->

      </tr>
    <% end %>
  </tbody>
</table>

</div>
