<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%">
          <% if current_user.level > 49 %>
            <%= link_to image_tag('icons/locked-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), penalties_path %><div id="menu-font">全部惩罚</div>
          <% end %>
        </td>
      </tr>

    </table>
  </div>

<div id="page-title">
  添加惩罚
</div>


<%= simple_form_for(@penalty) do |f| %>
  <%#= render 'shared/errors', object: f.object %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :identity_id, :value => params[:id] %>

    <%= f.hidden_field :community_id, :value => @identity.residence.community.id %>
    <%= f.hidden_field :local_id, :value => @identity.residence.community.local.id %>
    <%= f.hidden_field :district_id, :value => @identity.residence.community.local.district.id %>
    <%= f.hidden_field :city_id, :value => @identity.residence.community.local.district.city.id %>
    <%= f.hidden_field :province_id, :value => @identity.residence.community.local.district.city.province.id %>


    <%#= f.input :penalty_type_id, label: false %>
    <%#= f.association :penalty_type %>
    <%= f.association :penalty_type, label: false %>

    <%#= f.date_select :ending_date %>
    <%= f.input :ending_date, label: '惩罚结束日期', as: :date%>
    <%= f.input :note, label: false, as: :text, placeholder: '详情解释．．．' %>

    <%= f.button :button do %>
      提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交" %>
    <% end %>
<% end %>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
