<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">

        </td>

        <td width = "20%">
          <% if (Time.zone.now - @penalty.created_at)/60 < 60 %>
            <%= link_to image_tag('icons/trash-filled.png', width: '30', height: '30', title: '删除', rel: 'tooltip'), @penalty, method: :delete, data: { confirm: '确定删除吗？' } %><div id="menu-font">删除惩罚</div>
          <% end %>

        </td>

        <td width = "20%"><%= link_to image_tag('icons/locked-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), penalties_path %><div id="menu-font">全部惩罚</div></td>
      </tr>

    </table>
  </div>



<div id="page-title">惩罚详情</div>

<p></p>

<div id="index-card">
  <div><%= time_ago_in_words(@penalty.created_at) %>以前，</div>

  <table>
    <tr>
      <td width="20%">
        <% if @penalty.identity.sex == "女" %>
          <%= gravatar_female @penalty.identity.user %>
        <% elsif @penalty.identity.sex == "男" %>
          <%= gravatar_male @penalty.identity.user %>
        <% end %>
      </td>
      <td width="20%"><span id="name"><%= link_to @penalty.identity.lastname + @penalty.identity.firstname, :controller => 'users', :action => 'show', :id => @penalty.identity.user.id %></span>

      <td width="20%"><span id="bold"><%= @penalty.identity.residence.role %></span></td>
      <td width="20%"><%= @penalty.identity.age_group %>0后</td>
      <td width="20%"></td>
    </tr>
  </table>

  <p></p>

<div>

  <%= @penalty.identity.lastname %><%= @penalty.identity.firstname %>，被<%= @penalty.penalty_type.name %>
</div>
<p></p>
<div>
  从 <%= @penalty.created_at %></br>
  到 <%= @penalty.ending_date %>
</div>
<p></p>
<div>

  <%= @penalty.note %>
</div>
<p></p>

<p>
  <strong>执法者:</strong>
  <%= @penalty.user.identity.lastname %><%= @penalty.user.identity.firstname %>
</p>
</div>


</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
