<% if activity.trackable %>
  <div>
    在<%= time_ago_in_words(activity.updated_at) %>以前，
  </div>
  已经审阅了<%= link_to activity.trackable.user.identity.lastname+activity.trackable.user.identity.firstname, user_path(activity.trackable.user.id) %>的个人身份信息。

  <!--
    should we show user's name, avatar and link here?
  -->
<% else %>

<% end %>
<p></p>
