<% if activity.trackable %>
  <div>
    在<%= time_ago_in_words(activity.updated_at) %>以前，
  </div>
    已经验证了<%= activity.trackable.user.identity.lastname %><%= activity.trackable.user.identity.firstname %>的个人身份信息。
<% else %>

<% end %>
<p></p>
