.notifications {
  //padding: 3px;
  margin: 0px;
  font-size: 16px;
  //font-weight: 1;
  border: 1px solid #F2F2F2;
  border-radius: 3px;

  .heading {
    border-bottom: 1px solid #eee;
    padding: 5px;
    margin-bottom: 10px;
  }


  .notification-group {
    padding: 10px;
    margin-bottom: 20px;

    .group-title {
      padding: 5px 0;
      color: #999;
      border-bottom: 1px solid #eee;
    }
  }

  .notification {
    margin: 0;
    padding: 10px 0px;
    color: #999;

    a { color: #555; }

    &.unread {
      color: #444;

      .media-heading {
        font-weight: bold;
        font-size: 14px;
      }

      a { color: #222; text-decoration: underline; }
    }


    .media-content {
      p:last-child {
        margin-bottom: 0;
      }
    }

    .user-avatar {
      img { width: 32px; height: 32px; border-radius: 120px; }
    }

    .media-right {
      min-width: 100px;
      color: #AAA;
      font-size: 13px;
    }
  }
}

#comment0-notification {
  //background-color: #F2F2F2;//shade of grey
  background-color: #FBEFF2;//shade of pink
  font-size: 22px;
  font-weight: bold;
  border-bottom: 3px solid;
  //margin-bottom: 3px;
  padding-bottom: 5px;
  //border-radius: 8px;
}

#comment1-notification {
  //background-color: #E6E6E6;//shade of grey
  background-color: #F8E0E6;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 3px solid;
  //margin-bottom: 3px;
  padding-bottom: 5px;
  //border-radius: 8px;
}
#comment0-background {
  //background-color: #F2F2F2;//shade of grey
  background-color: #FBEFF2;//shade of pink
  font-size: 22px;
  //font-weight: bold;
  //border-bottom: 3px solid;
  //margin-bottom: 3px;
  //padding-bottom: 5px;
  //border-radius: 8px;
}
