<%= form_for(residence) do |f| %>
  <% if residence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(residence.errors.count, "error") %> prohibited this residence from being saved:</h2>

      <ul>
      <% residence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </div>

  <div class="field">
    <%= f.label :area %>
    <%= f.number_field :area %>
  </div>

  <div class="field">
    <%= f.label :identity_id %>
    <%= f.text_field :identity_id %>
  </div>

  <div class="field">
    <%= f.label :community_id %>
    <%= f.text_field :community_id %>
  </div>

  <div class="field">
    <%= f.label :role_id %>
    <%= f.text_field :role_id %>
  </div>

  <div class="field">
    <%= f.label :status_id %>
    <%= f.text_field :status_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
