<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title"><%= @residence.identity.lastname %><%= @residence.identity.firstname %></div>
  <p></p>

  <div id="index-card">
    <div>1. 您上传的居住状况资料与相对应的照片都正确无误吗？</div>

    <p></p>

    <div>2. 您愿意让一位随机的，同一小区的业主来查看您上传的资料，以验证您的居住状况吗？</div>
    <p>&nbsp;</p>

    <div>如果您对以上问题的答案都是肯定的，</div>
      <p></p>
      <%= simple_form_for(@residence) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">

          <%= f.input :ready, label: '请打勾以申请验证' %>


        <%= f.button :button do %>
          提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交" %>
        <% end %>

      </div>
    <% end %>
  </div>


</div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
