
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 为啥平台给了咱权限去验证其他用户？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 平台是业主会员们自我管理的。平台相信您的诚实！也相信您只愿意和具有真实身份的会员交流和沟通．
            </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱最多可以验证几位“等待验证”的用户？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> ２位．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱可以看见几位新用户提交的资料？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> ２位．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 用户提交的资料可以被咱用于其他目的吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 绝对不可以！这样涉嫌违法！只能用于平台验证会员真实身份的目的！平台相信您的为人．您的所作所为在平台上都是有记录的．
              </div>



          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">验证新业主的居住状况</div>
<%# if @num_identity_update < 2 && @num_identity_read < 2 %>

    <% if current_user.level < 50 %><!--38@xq234.com is admin -->
    <p></p>

    <% @residence_waiting.each do |r| %>
      <div id="index-card">
        <p><%= time_ago_in_words(r.created_at) %>以前.</p>

        <%= gravatar_30 r.identity.user %> <span id="bold">一位新用户</span>正在等待验证... <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), residence_path(r) %>
        <!--change to '神秘新用户' to cover user's true identity in production-->
        <p></p>
      </div>
      <p></p>
    <% end %>

    <% else %>
      <p></p>

      <% @residences.each do |r| %>
        <div id="index-card">
          <div id="ago"><%= time_ago_in_words(r.created_at) %>以前，</div>
  <p></p>
          <span id="bold"><%= r.identity.lastname+r.identity.firstname %></span> 等待验证... <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), residence_path(r) %>
          <!--change to '神秘新用户' to cover user's true identity in production-->
          <p></p>
        </div>
        <p></p>
      <% end %>

  <% end %>


  <p>&nbsp;</p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
    <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
  </button>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
