
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱的法定真实姓名在《购买合同》或者《房产证》上的，但并非排在第一位，请问咱可以选择“住家业主”吗？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 不能！只有排在第一位的，或者是唯一的，根据一户一业主的原则，才可以选择“住家业主”. 您的身份是“小区居民”，但平台还没有对“小区居民”开放，请耐心等待．
            </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱是和"住家业主"居住在一起的亲属，该如何选择角色身份？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 您的身份是“小区居民”，但平台还没有对“小区居民”开放，请耐心等待．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱的法定真实姓名在《单元住房租赁合同》上，是唯一的，或者是排第一位的，该如何选择角色身份？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 您的身份是“小区居民”，但平台还没有对“小区居民”开放，请耐心等待．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱在某一个小区里拥有2个以上单元，一个用作住家，一个用作商业，请问咱该选择＂住家业主＂，还是＂商业业主＂身份？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 很抱歉目前您只能二选一！
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱在2个以上的小区拥有2个以上单元，请问为什么不能同时填写2个以上的居住信息？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 您每次在平台里发言时，只能代表您最主要居住的某一个小区里的某一个单元．不然其他业主不清楚您是在谈论那一个小区，那一个单元．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果找到和填写房产号？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 房产号一般位于在您房产证或者不动产权证的第一页，与官方的公章在同一页．每个城市有些差异，可能有＂101房产证2006字第13408号＂, "京2008不动产权第10654号"，＂沪2012不动产权第24952号＂等等，请对应填写＂101-2006-13408＂, "2008-10654", "2012-24952"
                </div>

          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">请填写您的居住情况</div>

  <%= simple_form_for(@residence) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.hidden_field :identity_id, :value => current_user.identity.id %>

      <%= f.association :community, label: false, collection: Community.where("launched = ?", true), prompt: "请选择您目前居住的小区，必填。" %>
      <%= f.input :role, label: false, prompt: "请选择您居住的身份角色，必填。" , collection: [ "住家业主", "商业业主" ] %>

      <%= f.input :unit, label: false, placeholder: '您拥有的单元门牌号，字母大写，必填。' %>

      <%= f.input :area, label: false, placeholder: '您拥有单元建筑面积平方米，仅数字，必填。' %>
      <%= f.input :property_id, label: false, placeholder: '在房产证上的房产号' %>
      <%= f.button :button do %>
        提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交" %>
      <% end %>
    </div>
  <% end %>

  <!-- <p>&nbsp;</p>

  <h3>常见问题：</h3>

    <p>
      问：咱是"商业业主"，需要咱提供资料验证吗？</br>
      答：目前只有“住家业主”需要验证，“已经验证”的“住家业主”有更多的权限。"商业业主"和“小区居民”目前暂时不需要验证，但权限少一些。
    </p>
    <p>
      问：“住家业主”提交了真实的居住状况后，要等待多久才能得到“已经验证”？</br>
      答：在提交完成一个小时以后，提交的居住状况就会进入排队序列，等待某一位“已经验证”的志愿者“住家业主”来验证您。平台是由“已经验证”的志愿者“住家业主”来自我管理的。
    </p>
    <p>
      问：一位“住家业主”万一得到了“失败验证”，会发生什么？</br>
      答：您的账号就会保证原始状态１０天。然后，您才能删除您的居住状态，再重新填写。
    </p>
    <p>
      问：一位“住家业主”如果得到“已经验证”，会有哪些其他角色身份没有的权限呢？</br>
      答：您既可以在“意见投票”版块上发布可以投票的议题，自己可以投票，也可以在“报修投诉”版块上给物业服务打分。
    </p>

    <p>
      问：提交了咱的真实居住状况之后，发现有误，可以删除吗？</br>
      答：在１小时之内，可以删除再重新填写无数次，直到您认为正确为止。
    </p>
    <p>
      问：“物管代表”可以有几个账号？一个账号可以被多人操作吗？</br>
      答：一家物业管理公司在一个小区，只有一个账号。这唯一的账号是这家物业管理公司在这个小区的唯一官方代表，只能发出一种声音和观点。强烈建议由一位工作人员操作。如果这位官方发言人离职，可以由另一位工作人员持续操作。不管是由一人或者多人操作，言行必须一致，不可出尔反尔。如果早夕令改，不可怪罪是由多人操作的结果！
    </p>
    <p>
      问：“物管代表”有些什么权限？</br>
      答：“物管代表”既可以在“小区论坛”版块上发布公告通知，也可以在“报修投诉”版块上解释事件的状况和修复的进度。但“物管代表”没有权限给物业服务打分。
    </p>
  </div> -->

<p>&nbsp;</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
  <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
</button>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
