<!-- a user can see her/his own identity info unlimited times-->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱刚刚填写的居住状况，可以删除吗？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 在１小时之内，可以自由删除并且重新填写．
            </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果得到是“失败验证”，可以删除吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> １０天之后才能删除并且重新填写．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱的居住状况是“已经验证”，但刚刚搬家了，可以删除咱旧的居住状况吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 在您得到“已经验证”那一天算起，１００天之后，可以自由删除并且重新填写．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱的居住状况什么时候会被“已经验证”？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 在您提交了验证申请以后，您的居住状况会进入排队序列中，等待一位您自己小区里的业主志愿者来验证您所填写的居住状况．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱的居住状况得到“已经验证”后，会有哪些权限？
              </div>
              <div class="answer">
                 <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 您几乎拥有所有的权限来参与所有的版块．<!--您甚至可以申请志愿工作，来管理”小区记忆”平台上，自己小区里的其他业主和居民用户． -->
              </div>



          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<div class="content-box">

<div>
  <table id="full">
    <tr>
      <td width = "20%">
        <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
      </td>

      <td width = "20%">

      </td>

      <td width = "20">

      </td>

      <td width = "20%">
        <% if current_user.id == @residence.identity.user_id && Time.zone.now - @residence.identity.updated_at < 3600 && @residence.ready != true %>
          <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @residence, method: :delete, data: { confirm: '确定删除吗？' } %><div id="menu-font">删除此贴</div>
        <% elsif current_user.id == @residence.identity.user_id && Time.zone.now - @residence.identity.updated_at > 10 && @residence.status == '失败验证' %>
          <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @residence, method: :delete, data: { confirm: '确定删除吗？' } %><div id="menu-font">删除此贴</div>
        <% end %>
      <!--1 is one second. 60*60*24 = 86400s/d, thus 3600 is one hour. The user cannot delete it after one hour in production--></td>

      <td width = "20%"></td>
    </tr>

  </table>
</div>

<% if @residence.status == '等待验证' %>

  <div id="page-title">
    <%= @residence.identity.lastname %><%= @residence.identity.firstname %>
  </div>
<p></p>
  <div id="index-card">
    <div id="ago">
      <%= time_ago_in_words(@residence.created_at) %>以前, （１小时之内可以删除）
    </div>
    <p>&nbsp;</p>
    <div>
      房产号：<span id='data-entry'><%= @residence.property_id %></span>
    </div>
    <p></p>
    <div>

      是居住在<span id='data-entry'><%= @residence.community.name %>, <%= @residence.community.local.district.city.province.name %><%= @residence.community.local.district.city.name %><%= @residence.community.local.district.name %><%= @residence.community.local.name %></span><!--s<%#= @residence.community_id.size %> no error message but incorrect number-->
    </div>
    <p></p>

    <div>

      <span id='data-entry'><%= @residence.unit %></span>单元，建筑面积<span id='data-entry'><%= @residence.area %></span>平方米的，一名<span id='data-entry'><%= @residence.role %></span>。
    </div>

  </div>



<p>&nbsp;</p>
    <% if @residencephotos.empty? %>
      请上传2张房产证照片 <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller => 'residence_photos', :action => 'new', :id => current_user.identity.residence.id %>

    <% elsif @residencephotos.size < 2 %>
      <% @residencephotos.each do |rp| %>
        <div id="index-card">
          <div><%= image_tag rp.photo.url, width: '100%', height: '100%' if rp.photo? %></div>
          <div>
            <% if current_user.id == rp.residence.identity.user.id && Time.zone.now - rp.created_at < 111113600 && rp.residence.ready != true %>
              <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), rp, method: :delete, data: { confirm: '确定删除吗？' } %>
            <% end %>
          </div>
          <!--1 is one second. 60*60*24 = 86400s/d, thus 3600 is one hour. The user cannot delete it after one hour in production-->
        </div>
        <p></p>

      <% end %><!--  photos ends -->
      <p></p>
  </div>

      <p>&nbsp;</p>
      <div>
        至少2张照片，请再上传1张照片 <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller => 'residence_photos', :action => 'new', :id => current_user.identity.residence.id %>
      </div>

    <% else %>
      <% @residencephotos.each do |rp| %>
        <div id="index-card">
          <div><%= image_tag rp.photo.url, width: '100%', height: '100%' if rp.photo? %></div>

          <div>
            <% if current_user.id == rp.residence.identity.user.id && Time.zone.now - rp.created_at < 3600 && rp.residence.ready != true %>
              <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), rp, method: :delete, data: { confirm: '确定删除吗？' } %>
            <% end %>
          </div>
          <!--1 is one second. 60*60*24 = 86400s/d, thus 3600 is one hour. The user cannot delete it after one hour in production-->
        </div>
        <p>&nbsp;</p>

      <% end %><!--  photos ends -->
      <p></p>
    </div>

  <% end %>

  </div>
  <p>&nbsp;</p>
    <p>&nbsp;</p>
        <div id="ago">
          <%= image_tag('icons/residence-checked-red-outline.png', width: '25', height: '25', title: '验证人', rel: 'tooltip') %> 以上信息小区业主验证人可见
        </div>
  <p></p>
        <div id="ago">
          <%= image_tag('icons/no-others-red-outline.png', width: '25', height: '25', title: '其他人', rel: 'tooltip') %> 以上信息其他人不可见
        </div>
  <p></p>
<div>
  <p>&nbsp;</p>
  <% if @residence.ready != true && @residencephotos.size < 2 %>
  资料尚未备齐...
  <% elsif @residence.ready != true && @residencephotos.size == 2 %>
  资料已经齐备，请申请验证 <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), edit_self_residence_path %>
  <% elsif @residence.ready == true %>
    已经提交申请验证! 请耐心等待验证...

  <% end %>
  </div>

<% elsif @residence.status == '失败验证' %>
<div id="page-title">
  <%= @residence.identity.lastname %><%= @residence.identity.firstname %>
</div>

  <div id="index-card">


  <p></p>
  <div>
    您的居住状况是随机地，由某一位＂已经验证＂的志愿者小区业主验证的．
  </div>
  <p></p>
  <div>
    如有错误，请电邮客服15002338190@139.com, 咱们非常乐意帮助您！
  </div>
  <p></p>
  <div>
    又或者10天之后回来删除，再重新上传真实正确的居住状况，谢谢您的理解！
  </div>

</div>
<p></p>
<div>
  <%= image_tag('icons/residence-no-red-outline.png', width: '25', height: '25', title: '失败验证', rel: 'tooltip') %>　<span id ="data-entry"><%= @residence.status %></span>
</div>


<% elsif @residence.status == '已经验证' %>

  <p></p>
<div id="page-title"><%= @residence.identity.lastname %><%= @residence.identity.firstname %></div>

<div id="index-card">
  <div id="ago">
    <%= time_ago_in_words(@residence.updated_at) %>以前,
  </div>
  <p></p>
    <div>
      房产号：<span id='data-entry'><%= @residence.property_id %></span>
    </div>
  <p></p>
  <div>

    是居住在<span id='data-entry'><%= @residence.community.name %>, <%= @residence.community.local.district.city.province.name %><%= @residence.community.local.district.city.name %><%= @residence.community.local.district.name %><%= @residence.community.local.name %></span><!--s<%= @residence.community_id.size %> no error message but incorrect number-->
  </div>
  <p></p>

  <div>

    <span id='data-entry'><%= @residence.unit %></span>单元，建筑面积<span id='data-entry'><%= @residence.area %></span>平方米的，一名<span id='data-entry'><%= @residence.role %></span>
  </div>

</div>
<p></p>
<div id="ago">
  <%= image_tag('icons/no-neighbour-red-outline.png', width: '25', height: '25', title: '小区邻居', rel: 'tooltip') %> 以上信息小区邻居不可见
</div>
<p></p>
<div id="ago">
  <%= image_tag('icons/no-others-red-outline.png', width: '25', height: '25', title: '其他人', rel: 'tooltip') %> 以上信息其他人不可见
</div>
  <p></p>
<div id="ago">
  <%= image_tag('icons/residence-checked-red-outline.png', width: '25', height: '25', title: '已经验证', rel: 'tooltip') %> 已经验证
</div>
<% end %>

<p>&nbsp;</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
  <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
</button>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
