<h3>用户动态</h3>

<% @activities.each do |activity| %>
  <div class="activity">
    <% if activity.trackable %>

    <%= link_to activity.owner.identity.lastname+activity.owner.identity.firstname, user_path(activity.owner.id) %>
    <!--should we show full name and link here? -->  
    <% else %>

    <% end %>
    <%= render_activity activity %>
  </div>
<% end %>
