<%= simple_form_for(@real_estate_developer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :pinyin %>
    <%= f.input :telephone %>
    <%= f.input :note %>
  
    <%= f.association :city %>

    <%= f.input :address %>
    <%= f.input :website %>
    <%= f.input :email %>
    <%= f.input :socialmedia %>
    <%= f.association :user %>
    <%= f.input :verified %>
    <%= f.association :identity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
