<p>
  <%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), real_estate_developers_path %>
</p>

<h3>更新房地产开发公司信息</h3>

<%= simple_form_for(@real_estate_developer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: false, placeholder: '房地产开发公司名称。' %>
    <%= f.input :pinyin, label: false, placeholder: '名称拼音' %>
    <%= f.input :telephone, label: false, placeholder: '城市代码＋电话号码' %>
    <%= f.input :note, label: false, placeholder: '描述详细情况。' %>

    <%= f.association :city, label: false %>

    <%= f.input :address, label: false, placeholder: '地理地址。' %>
    <%= f.input :website, label: false, placeholder: '网站链接。' %>
    <%= f.input :email, label: false, placeholder: '电子邮箱。' %>
    <%= f.input :socialmedia, label: false, placeholder: '社交媒体。' %>
    <%= f.collection_radio_buttons :verified, [[TRUE, '是'], [FALSE, '否']], :first, :last %></br>
    确认请选“是”，就是最终结果，不可再更改信息。</br>

  <p>&nbsp;</p>
  <%= f.button :button do %>
    更新房地产开发公司信息！ <%= image_tag "icons/forward-arrow-50.png", :size => '25x25', :title => "提交" %>
  <% end %>

  </div>
<% end %>


<p>&nbsp;</p>


<%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), real_estate_developers_path %>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
