<h3>房地产开发公司</h3>
<div id="new-entry-link">
  <%= link_to '创建新房地产开发公司', new_real_estate_developer_path %> <%= image_tag "icons/forward-arrow-50.png", :size => '25x25', :title => "前行" %>
</div>

<p>&nbsp;</p>

<table>
  <tbody>
    <% @real_estate_developers.each do |real_estate_developer| %>
      <tr>
        <td><%= real_estate_developer.name %></td>

        <td><% if real_estate_developer.telephone %><%= real_estate_developer.telephone %><% else %><% end %></td>
        <td><% if real_estate_developer.verified == true %><%= image_tag('icons/data-verified.png', width: '25', height: '25', title: '确认。', rel: 'tooltip') %><% else %><% end %></td>

        <td><%= link_to image_tag('icons/details.png', width: '25', height: '25', title: '详情', rel: 'tooltip'), real_estate_developer %></td>
        <td><%#= link_to 'Edit', edit_real_estate_developer_path(real_estate_developer) %></td>
        <td><%#= link_to 'Destroy', real_estate_developer, method: :delete, data: { confirm: '确定删除吗?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
