<p>
  <%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), real_estate_developers_path %>
</p>

<h3>创建新的小区房地产开发公司</h3>

<%#= render 'form', real_estate_developer: @real_estate_developer %>
<%= simple_form_for(@real_estate_developer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :name, label: false, input_html: { maxlength: 20 }, placeholder: '房地产开发公司名称，最少２个字，必填。' %>

    <%= f.input :telephone, label: false, input_html: { maxlength: 15 }, placeholder: '房地产开发公司电话号码，必填。' %>

    <%= f.input :note, label: false, input_html: { maxlength: 140 }, placeholder: '请详细介绍一下，最多140字，可为空。' %>
    <%#= f.input :pinyin, label: false, placeholder: '名称拼音，可为空。' %>

    <%#= f.association :city, label: false %>

    <%#= f.input :address, label: false, placeholder: '地址，可为空。' %>
    <%#= f.input :website, label: false, placeholder: '网页地址，可为空。' %>
    <%#= f.input :email, label: false, placeholder: '电子邮件信箱，可为空。' %>

    <%#= f.input :socialmedia, label: false, placeholder: '社交媒体地址（微信ＱＱ），可为空。' %>

    <%#= f.association :user %>
    <%= f.button :button do %>
      请创建新房地产开发公司！ <%= image_tag "icons/forward-arrow-50.png", :size => '25x25', :title => "提交" %>
    <% end %>

    <%#= f.submit '提交' %>
  </div>
<% end %>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>
  <%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), real_estate_developers_path %>
</p>

<!--16 line blank for keyboard space on cell phone-->
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
