<p>
  <%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), real_estate_developers_path %>
</p>

<p>
  <strong>Name:</strong>
  <%= @real_estate_developer.name %>
</p>

<p>
  <strong>Pinyin:</strong>
  <%= @real_estate_developer.pinyin %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @real_estate_developer.telephone %>
</p>

<p>
  <strong>Note:</strong>
  <%= @real_estate_developer.note %>
</p>

<p>
  <strong>Province:</strong>
  <%= @real_estate_developer.province %>
</p>

<p>
  <strong>City:</strong>
  <%= @real_estate_developer.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @real_estate_developer.district %>
</p>

<p>
  <strong>Address:</strong>
  <%= @real_estate_developer.address %>
</p>

<p>
  <strong>Website:</strong>
  <%= @real_estate_developer.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @real_estate_developer.email %>
</p>

<p>
  <strong>Socialmedia:</strong>
  <%= @real_estate_developer.socialmedia %>
</p>



<p>
  <strong>Verified:</strong>
  <%= @real_estate_developer.verified %>
</p>

<p>&nbsp;</p>
<div>
  <table width = "100%">
    <tr>
      <td width = "33%"><%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), real_estate_developers_path %></td>
      <td width = "33%"><%# if @report.closed == true or @report.unit == current_user.identity.residence.unit %><%# else %><%= link_to image_tag('icons/edit-property-50.png', width: '25', height: '25', title: '更新', rel: 'tooltip'), edit_real_estate_developer_path(@real_estate_developer) %><%# end %></td>
      <td width = "33%"><%# if @report.user_id != current_user.id or @report.closed == true %><%# else %><%= link_to image_tag('icons/trash-can.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @real_estate_developer, method: :delete, data: { confirm: '确定删除吗?' } %><%# end %></td>
    </tr>
  </table>
</div>
