<div id="index-card-comment0">
  <div id="time-ago"><%= (report_comment0.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>
  <table>
    <tr>
      <td width="20%">
        <% if report_comment0.user.identity.sex == "女" %>
          <%= gravatar_female_28 report_comment0.user %>
        <% elsif report_comment0.user.identity.sex == "男" %>
          <%= gravatar_male_28 report_comment0.user %>
        <% end %>
      </td>
      <td width="20%"><span id="name"><%= link_to report_comment0.user.identity.lastname + report_comment0.user.identity.firstname, :controller => 'users', :action => 'show', :id => report_comment0.user_id %></span>

      <td width="20%"><span id="bold"><%= report_comment0.user.identity.residence.role %></span></td>
      <td width="20%"><%= report_comment0.user.identity.age_group %>0后</td>
      <td width="20%"></td>
    </tr>
  </table>

  <p></p>

  <div id="overflow">
    <%= simple_format(report_comment0.content, class: 'comment0-show-text') %>
  </div>

  <table width="100%">
    <tr>
      <td width="20%">
        <%= link_to image_tag('icons/comment1-filled.png', width: '30', height: '30', title: '回复', rel: 'tooltip'), :controller => 'comment1s', :action => 'new', :id => report_comment0.id %>
        <div id="menu-font"><%= report_comment0.report_comment1s.size %><%= link_to '回复', :controller => 'report_comment1s', :action => 'new', :id => report_comment0.id %></div>
      </td>

      <td width="20%" id="image-holder">
        <%#= image_tag('icons/like-plus-filled.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
      </td>

      <td width="20%">

      </td>

      <td width="20%">

      </td>
      <td width="20%">
          <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '详情', rel: 'tooltip'), :controller => 'report_comment0s', :action => 'show', :id => report_comment0.id %><div id="menu-font">评论详情</div>
      </td>
    </tr>
  </table>

</div>
<p></p>
