
<div class="content-box">

  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"><%= link_to image_tag('icons/atwork-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), reports_path %><div id="menu-font">全部汇报</div></td>
      </tr>

    </table>
  </div>

  <div id="page-title">一楼评论</div>


  <div id="report_comment0s">
      <%= render @report_comment0s %>
  </div>

  <div><%= will_paginate @report_comment0s %></div>
  <%#= will_paginate @forums, class: "pagination pagination-lg" %>
  <!-- it would not become large page number. -->




<div class="bottom-menu">
  <table id="full">
    <tr>
      <td width = "20%">

      </td>

      <td width = "20%">

      </td>

      <td width = "20">

          <%= link_to image_tag('icons/comment0-plus-filled.png', width: '35', height: '35', title: '添新评论', rel: 'tooltip'), :controller => 'report_comment0s', :action => 'new', :id => params[:id] %>
          <%#= link_to image_tag('icons/comment0-plus-filled.png', width: '35', height: '35', title: '添新评论', rel: 'tooltip'), new_comment0_path %><div id="menu-font">添新评论</div>

      </td>

      <td width = "20%">

      </td>

      <td width = "20%">

      </td>
    </tr>

  </table>
</div>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
