<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

<!-- <div id="section-title"><%#= image_tag('icons/atwork-red-outline.png', width: '30', height: '30', title: '评论', rel: 'tooltip') %> 被评论的汇报</div> -->

  <div id="index-card">
    <div id="time-ago"><%= (@report_comment0.report.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>

    <table>
      <tr>
        <td width="20%">
          <% if @report_comment0.report.user.identity.sex == "女" %>
            <%= gravatar_female @report_comment0.report.user %>
          <% elsif @report_comment0.report.user.identity.sex == "男" %>
            <%= gravatar_male @report_comment0.report.user %>
          <% end %>
        </td>
        <td width="20%"><span id="name"><%= link_to @report_comment0.report.user.identity.lastname + @report_comment0.report.user.identity.firstname, :controller => 'users', :action => 'show', :id => @report_comment0.report.user_id %></span>

        <td width="20%"><span id="bold"><%= @report_comment0.report.user.identity.residence.role %></span></td>
        <td width="20%"><%= @report_comment0.report.user.identity.age_group %>0后</td>
        <td width="20%"></td>
      </tr>
    </table>

    <p></p>

    <div id="overflow2">
      <!-- It would not have a overflow problem since the contents are very short here. -->
        ＂汇报者＂通过<span id="data-entry"><%=@report_comment0.report.contact_type %></span>的方式，向<span id="data-entry"><%=@report_comment0.report.entity %>，<%=@report_comment0.report.representative %></span><% if@report_comment0.report.sex == '男' %>先生<% else %>女士<% end %>汇报了在<span id="data-entry"><%=@report_comment0.report.building %></span>栋建筑<% if@report_comment0.report.floor? %><span id="data-entry"><%=@report_comment0.report.floor %></span>层楼<% end %>，<span id="data-entry"><%=@report_comment0.report.surround %></span>，<% if@report_comment0.report.unit? %>邻居单元号，<span id="data-entry"><%=@report_comment0.report.unit %></span><% else %><span id="data-entry"><%=@report_comment0.report.facility_type %></span>的问题：<% end %>


      <%#= truncate(@report_comment0.report.content, length: 140, class: 'report-show-text') %>
    </div>

    <table width="100%">
      <tr>
        <td width="20%" id="image-holder">
          <%#= image_tag('icons/complain-plus-filled.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
        </td>

        <td width="20%" id="image-holder">
          <%#= image_tag('icons/like-plus-filled.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
        </td>

        <td width="20%" id="image-holder">

        </td>

        <td width="20%">

        </td>
        <td width="20%">
            <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '详情', rel: 'tooltip'), :controller => 'reports', :action => 'show', :id => @report_comment0.report.id %><div id="menu-font">此帖详情</div>
        </td>
      </tr>
    </table>
  </div>
<p>&nbsp;</p>

<div id="page-title"><%#= image_tag('icons/comment0-red-outline.png', width: '30', height: '30', title: '评论', rel: 'tooltip') %> 一楼评论详情</div>

<div id="index-card-comment0">
  <div id="time-ago"><%= (@report_comment0.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>

  <table>
    <tr>
      <td width="20%">
        <% if @report_comment0.user.identity.sex == "女" %>
          <%= gravatar_female @report_comment0.user %>
        <% elsif @report_comment0.user.identity.sex == "男" %>
          <%= gravatar_male @report_comment0.user %>
        <% end %>
      </td>
      <td width="20%"><span id="name"><%= link_to @report_comment0.user.identity.lastname + @report_comment0.user.identity.firstname, :controller => 'users', :action => 'show', :id => @report_comment0.user_id %></span>

      <td width="20%"><span id="bold"><%= @report_comment0.user.identity.residence.role %></span></td>
      <td width="20%"><%= @report_comment0.user.identity.age_group %>0后</td>
      <td width="20%"></td>
    </tr>
  </table>

  <p></p>

  <div id="overflow">
    <%= simple_format(@report_comment0.content, class: 'show-text') %>
  </div>
</div>
<p>&nbsp;</p>

  <% if @report_comment0.report_comment1s.where("published = ?", true).count > 0 %>

  <div id="section-title"><%#= image_tag('icons/comment1-red-outline.png', width: '30', height: '30', title: '评论', rel: 'tooltip') %> 二楼回复</div>

    <% @report_comment0.report_comment1s.where("published = ?", true).first(10).each do |c| %>
      <div id="index-card-comment1">


      <div id="time-ago"><%= (c.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>

      <table>
        <tr>
          <td width="20%">
            <% if c.user.identity.sex == "女" %>
              <%= gravatar_female c.user %>
            <% elsif c.user.identity.sex == "男" %>
              <%= gravatar_male c.user %>
            <% end %>
          </td>
          <td width="20%"><span id="name"><%= link_to c.user.identity.lastname + c.user.identity.firstname, :controller => 'users', :action => 'show', :id => c.user_id %></span>

          <td width="20%"><span id="bold"><%= c.user.identity.residence.role %></span></td>
          <td width="20%"><%= c.user.identity.age_group %>0后</td>
          <td width="20%"></td>
        </tr>
      </table>

      <p></p>

      <div id="overflow">
        <%= simple_format(c.content, class: 'show-text') %>
      </div>
    </div>
    <p>&nbsp;</p>
    <% end %>

  <% else %>
    <div>目前还没有对以上评论的回复．回复请按下面的＂回复评论＂键</div>
  <% end %>

  <p>&nbsp;</p>

  <% if @report_comment0.report_comment1s.where("published = ?", true).size > 1 %>
    <div id="section-title">
      <%= link_to image_tag('icons/comment1-filled.png', width: '30', height: '30', title: '更多二楼回复'), :controller => 'report_comment1s', :action => 'index', :id => @report_comment0.id, :page => '2' %> 更多二楼回复...
    </div>
  <% end %>

  <div class="bottom-menu">
    <table id="full">
      <tr>
        <td width = "20%">

        </td>

        <td width = "20%">

        </td>

        <td width = "20">

            <%= link_to image_tag('icons/comment1-plus-filled.png', width: '35', height: '35', title: '咱有话说'), :controller => 'report_comment1s', :action => 'new', :id => @report_comment0.id %><div id="menu-font">回复评论</div>

        </td>

        <td width = "20%">

        </td>

        <td width = "20%">

        </td>
      </tr>

    </table>
  </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
