<%= form_for(community) do |f| %>
  <% if community.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(community.errors.count, "error") %> prohibited this community from being saved:</h2>

      <ul>
      <% community.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%#= f.label :pinyin %>
    <%= f.text_field :pinyin %>
  </div>

  <div class="field">
    <%#= f.label :local_id %>
    <%= f.collection_select(:local_id, Local.all, :id, :name) %>
  </div>

  <div class="field">
    <%#= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%#= f.label :total_units %>
    <%= f.number_field :total_units %>
  </div>

  <div class="field">
    <%#= f.label :populations %>
    <%= f.number_field :populations %>
  </div>

  <div class="field">
    <%#= f.label :starting_year %>
    <%= f.number_field :starting_year %>
  </div>

  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>
