<%# if current_user.identity.nil? or current_user.identity.status_id != 3 %>
<!--
  <div>
    请填写个人身份信息，或者等到个人身份信息“已经认证”。谢谢！
    <p><%= link_to '回家', root_url %></p>
  </div>
<%#else %>
-->

  <p>
    <%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), communities_path %>
  </p>

<h3>最后一步申请开通小区</h3>

  <%= simple_form_for(@community) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.hidden_field :user_id, :value => current_user.id %>



      <%= f.input :introduction, label: false, as: :text, placeholder: '请简单介绍一下此小区的情况...' %>
      <%#= f.submit '提交' %>

      <%= f.button :button do %>
        请提交申请！ <%= image_tag "icons/forward-arrow-50.png", :size => '25x25', :title => "提交" %>
      <% end %>
    </div>
  <% end %>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <p>
    <%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), communities_path %>
  </p>

<%# end %>
