<h4>志愿工作者修改</h4>

<%= simple_form_for(@community) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name, label: false, input_html: { maxlength: 20 }, placeholder: '小区名称，最少两个字，必填。' %>

    <%= f.input :address, label: false, placeholder: '省市区，传统街道社区，小区地理地址。必填。' %>
    <%= f.association :local, label: false, prompt: "传统街道社区名称，必选。" %>

    <%= f.input :starting_year, label: false, input_html: { maxlength: 4 }, placeholder: '哪一年开始入住？必须４个字，必填.' %>
    是否已经开通？
    <%= f.collection_radio_buttons :launched, [[TRUE, '是'], [FALSE, '否']], :first, :last %></br>

    <%= f.button :button do %>
      请提交申请！ <%= image_tag "icons/forward-arrow-50.png", :size => '25x25', :title => "提交" %>
    <% end %>
  </div>
<% end %>
