<h1>投诉申请</h1>
<p>如果编号相同，表明被投诉的内容相同。</p>
<table border="1">
  <thead>
    <tr>
      <th>编号</th>
      <th>发表状态</th>
      <th>被投诉人</th>
      <th>C</th>
      <th>被投诉原因</th>
      <th>日期</th>
      <th>投诉被通过</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forum_complains.each do |forum_complain| %>
      <tr>

        <td><%= forum_complain.forum.id %></td>
        <td><%= forum_complain.forum.published %></td>
        <td><%= forum_complain.forum.user.identity.lastname %><%= forum_complain.forum.user.identity.firstname %></td>
        <td><%= forum_complain.community.name %></td>
        <td><%= forum_complain.reason.content %></td>
        <td><%= forum_complain.updated_at %></td>
        <td><%= forum_complain.approved %></td>
        <td><%= link_to 'Show', forum_complain %></td>
        <td><%= link_to 'Edit', edit_forum_complain_path(forum_complain) %></td>
        <% if current_user.id == forum_complain.user_id %>
          <td><%= link_to 'Destroy', forum_complain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '查看小区微博', forums_community_path %>
