<%# if current_user.identity.residence.community_id == @forum.community_id %>

<!--
  <p></p>
  <p>
    <%#= @forums.community_id %>
  </p>
  <p>
    <%#= @forums.community.local.district.city.province.name %>, <%#= @forum.community.local.district.city.name %>, <%#= @forum.local.district.name %>, <%#= @forum.local.name %>
  </p>
-->

  <div>
    <%#= link_to '添加新微博', :controller => 'forums', :action => 'new', :id => @community.id %>
    <%= link_to '添加新微博', new_forum_path %>
  </div>
  <%#= link_to 'Edit', edit_community_path(@community) %> |
  <%#= link_to 'Back', communities_path %>

  <div>
    <% @forums.each do |community| %>
    <div>
      <%= community.user.identity.lastname %><%= community.user.identity.firstname %>, <%= community.user.identity.sex %>, <%= time_ago_in_words(community.created_at) %>以前。

      </br><% if community.content.blank? %>
            <% else %>
                  还有<%= community.content.length %>个字的内容，
                  <%= link_to '点击阅读', :controller => 'forums', :action => 'show', :id => community.id %>
            <% end %></br>

            <% if current_user.id == community.user.id %>
              <%= link_to '删除?', community, method: :delete, data: { confirm: '您确定要删除吗?' } %>
              <% else %>
              <%= link_to '投诉', :controller => 'forum_complains', :action => 'new', :id => community.id %>

            <% end %>
            <p></p>
      <% end %>
    </div>
  </div>
