<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">
          <!-- <%#= link_to like_forum_path(@forum), method: :put do %>
            <%#= image_tag'icons/like-plus-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip' %>
            <span class="badge"><%#= @forum.likevotes.get_upvotes.size %></span>
          <%# end %> -->
        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>


<div id="page-title">全部小区</div>

<div>
  <% if @communities.empty? %>
<!-- why not .nil? probably because @communitys have other records in a different community. And .empty? means @communitys do not have anything matching this community-->
    您的小区还没有任何汇报。您来做敢于吃螃蟹的第一人吧！

  <% else %>

    <div>
        <% @communities.each do |community| %>
        <p></p>
          <div id="index-card">
            <div id="time-ago">
              <%= (community.created_at).strftime("%Y年%m月%d日 %H:%M") %>
            </div>
<p></p>
              <div id="data-entry"><% if community.launched == true %><%= image_tag "icons/yes-red-outline.png", :size => '25x25', :title => "开通状态" %><% else %><%= image_tag "icons/no-red-outline.png", :size => '25x25', :title => "关闭状态" %><% end %>&nbsp;&nbsp;<%= community.name %>小区</div>
              <div id="data-entry"><%= community.address %></div>


            <p></p>
              <table width="100%">
                <tr>
                  <td width="20%" id="image-holder">
                    <%#= image_tag('icons/complain-plus-filled.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
                  </td>

                  <td width="20%" id="image-holder">
                    <%#= image_tag('icons/like-plus-filled.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
                  </td>

                  <td width="20%" id="image-holder">

                  </td>

                  <td width="20%">

                  </td>
                  <td width="20%">
                      <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '详情', rel: 'tooltip'), :controller => 'communities', :action => 'show', :id => community.id %><div id="menu-font">小区详情</div>
                  </td>
                </tr>
              </table>


          </div>
        <% end %>

    </div>

  <% end %>

  <div class="bottom-menu">
    <table id="full">
      <tr>
        <td width = "20%">

        </td>

        <td width = "20%">

        </td>

        <td width = "20">

            <%= link_to image_tag('icons/plus-filled.png', width: '35', height: '35', title: '添新小区', rel: 'tooltip'), new_community_path %><div id="menu-font">添新小区</div>

        </td>

        <td width = "20%">

        </td>

        <td width = "20%">

        </td>
      </tr>

    </table>
  </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
