<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

<h3>申请开通小区</h3>

<%= simple_form_for(@community) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.input :name, label: false, input_html: { maxlength: 20 }, placeholder: '小区名称，最少两个字，必填。' %>

    <%#= f.input :pinyin, label: false, placeholder: '名称的汉语拼音，最少两个字，必填。' %>

    <%#= f.association :local, label: false, prompt: "传统街道社区名称，必选。" %>

    <%= f.input :address, label: false, placeholder: '省市区，传统街道社区，小区地理地址。必填。' %>

    <%#= f.input :starting_year, label: false, placeholder: '开始入住的年份，４个字，必填。' %>

    <%= f.input :category, label: false, prompt: "住房类型", priority: [ "商品住房" ], collection: [ "商品住房", "经济适用房", "小产权房", "商住两用房", "其它类型"] %>

    <%#= f.input :building, label: false, placeholder: '几栋楼？必填。' %>
    <%#= f.input :floor, label: false, placeholder: '几层楼？如果楼层不一样，请给个平均数，必填。' %>

    <%#= f.input :unit_per_floor, label: false, placeholder: '一层楼几个单元？必填。' %>
    <%= f.input :occupation_rate, label: false, placeholder: "大约有百分之几的单元已经入住？1...99，必填。" %>

    <%= f.input :businessfloors, label: false, placeholder: "低层的商场有几层？没有？填0．" %></br>

    <%= f.input :managementfee, label: false, placeholder: '每月物业管理费用是多少元每平方米？' %>
    <%#= f.input :ownerassociation, label: '已经成立了业主委员会了吗？是，打', as: :boolean, checked_value: true, unchecked_value: false %>
    是否成立了业主委员会？
    <%= f.collection_radio_buttons :ownerassociation, [[TRUE, '是'], [FALSE, '否']], :first, :last %></br>

    <%= f.association :property_management, label: false, prompt: "物业管理公司，必选。" %>

    <%= f.association :real_estate_developer, label: false, prompt: "房地产开发商，必选。" %>


    <%#= f.submit '提交' %>

    <%= f.button :button do %>
      提交 <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交" %>
    <% end %>
  </div>
<% end %>

</div>
<!--16 line blank for keyboard space on cell phone-->
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
