<% if @penalties.size < 1 %>
  <div>
    此小区还没有处罚。谢谢大家！
  </div>

  <div>
    <%= link_to '回家', root_path %>
  </div>
  
<% else %>
  <h1>Penalties</h1>

  <table>
    <thead>
      <tr>

        <th>Identity</th>
        <th>community</th>
        <th>Penalty type</th>
        <!--<th>Starting date</th>-->
        <th>Ending date</th>
        <!--<th>Note</th>
        <th>发出者</th>
        -->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @penalties.each do |penalty| %>
        <tr>

          <td><%= penalty.identity.lastname %><%= penalty.identity.firstname %></td>
            <td><%= penalty.identity.residence.community.name %></td>
          <td><%= penalty.penalty_type.name %></td>
          <!--<td><%= penalty.created_at %></td>-->
          <td><%= penalty.ending_date %></td>
          <!--<td><%= penalty.note %></td>
          <td><%= penalty.user.identity.lastname %><%= penalty.user.identity.firstname %></td>
          -->
          <td><%= link_to 'Show', penalty %></td>
          <td><%= link_to 'Edit', edit_penalty_path(penalty) %></td>
          <td><%= link_to 'Destroy', penalty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Penalty', new_penalty_path %>
<% end %>
