<!--this page is for people in outside of community to see-->

<div>
  <%= link_to '请添加新的意见调查', new_poll_path, class: "btn btn-primary" %>
</div>
<% @polls.each do |poll| %>

  <div class="well">
    <%= gravatar_for poll.user %><%= poll.user.identity.lastname %>, <%= poll.city.name %>
    <h2><%= poll.topic %> <small>(voted: <%= poll.votes_summary %>)</small></h2>
    <%= time_ago_in_words(poll.created_at) %>以前。

    

    <p>
        <%#= link_to 'Participate!', :controller => 'polls', :action => 'show', :id => poll.id, class: 'btn btn-primary btn-lg block' %>
        <%= link_to '请参与意见投票', poll_path(poll), class: 'btn btn-primary btn-lg block' %>

    </p>

  </div>
<% end %>
