<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->
            <p>&nbsp;</p>
            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 在申请之后，小区什么时候可以开通？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 小区开通的日期是由很多因素决定的．咱们希望是陆续地开通全国所有的小区．谢谢您的申请让平台方更多地了解了您的家园小区！
            </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果申请有差错，咱可以删除申请吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 在３个小时之内是可以的．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如何才能知道咱们的家园小区已经开通？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 平台方会通过电子邮件信箱通知您，谢谢您的耐心等待！也欢迎随时回来查看．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果咱们的家园小区的申请在等了很久以后都还未开通，可以重新申请吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 可以的．在３个月后可再次申请，请一定要填写好新的信息和状况．
              </div>

              <p>&nbsp;</p>
                  <div class="ask">
                    <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱看到了某一位小区邻居已经提交申请了，咱可以重新再次申请吗？
                  </div>
                  <div class="answer">
                    <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 一般不建议这样做，除非您发现这位小区邻居在提交的申请中，有重大的信息错误。如果只是小小错误，您可以在评论中，给出正确信息即可．
                  </div>

          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"><% if current_user.id == @community.user_id && (Time.zone.now - @community.created_at)/60 < 60 %><%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @community, method: :delete, data: { confirm: '确定删除吗？' } %><% end %></td>

        <td width = "20%"><%= link_to image_tag('icons/xiaoqu-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), communities_path %><div id="menu-font">全部小区</div></td>
      </tr>

    </table>
  </div>

<div id = "index-card">
  <div>
    <span id="data-entry"><%= @community.name %></span>（于<span id="data-entry"><%= (@community.created_at).strftime("%Y年%m月%d日") %></span>申请。）
  </div>

<p></p>
  <div>
    <% if @community.launched == false %><%= image_tag('icons/no-red-outline.png', width: '25', height: '25', title: '关闭状态', rel: 'tooltip') %>　此小区处于关闭状态，开通申请中......<% else %><%= image_tag('icons/yes-red-outline.png', width: '25', height: '25', title: '开通状态', rel: 'tooltip') %>　此小区已经开通！<% end %>
  </div>
  <p></p>

  <div>
    <span id="data-entry"><%= @community.address %></span>
  </div>
  <p></p>
  <div>
    <span id="data-entry"><%= @community.name %></span>是<span id="data-entry"><%= @community.category %></span>。目前居住率是<span id="data-entry"><%= @community.occupation_rate %>％</span>。<% if @community.businessfloors > 0 %>楼下有<span id="data-entry"><%= @community.businessfloors %></span>层商场。<% else %><% end %><% if @community.ownerassociation == true %>此小区已经<span id="data-entry">成立</span>了业主委员会。<% else %>此小区<span id="data-entry">暂无</span>业主委员会。<% end %>
  </div>
  <div>
    物业管理费用为<span id="data-entry"><%= @community.managementfee %></span>元每平方米．
  </div>
  <p></p>

  <div>
    此小区由<span id="data-entry">“<%= @community.real_estate_developer.name %>”</span>开发，目前由<span id="data-entry">“<%= @community.property_management.name %>”</span>来管理。
  </div>
</div>

<p></p>
  <div id = "index-card">
    <% if @community.introduction %><%= simple_format(@community.introduction) %>
  </div>
    <% else %>
    <p></p>
      <p>
        <% if current_user.id == @community.user_id && @community.launched == false %>
        <button type="button" class="btn btn-default"><%= link_to '请去最后一步，简单介绍一下小区情况......', edit_community_path(@community) %><%= image_tag "icons/forward-arrow-50.png", :size => '25x25', :title => "去最后一步" %></button><% end %>
      </p>
    <% end %>

    <p>&nbsp;</p>

    <div id="section-title">
      <%= image_tag "icons/abacus-red-outline.png", :size => '20x20', :title => "小区" %> 此小区业主总数：
    </div>
    <div>
      <%= @community.residences.where("status = ?", "已经验证").size %>
    </div>

<p></p>

        <div id="section-title">
          <%= image_tag "icons/abacus-red-outline.png", :size => '20x20', :title => "小区" %> 对物业服务公司汇报的总数：
        </div>
        <div>
          <%= @community.reports.where("entity = ?", "物业服务公司").size %>
        </div>

    <p></p>
        <div id="section-title">
          <%= image_tag "icons/abacus-red-outline.png", :size => '20x20', :title => "小区" %> 物业服务公司已经解决的汇报：
        </div>
        <div>
          <%= @community.reports.where("closed = ? AND entity = ?", true, "物业服务公司").size %>
        </div>

<p></p>
    <div id="section-title">
      <%= image_tag "icons/abacus-red-outline.png", :size => '20x20', :title => "小区" %> 物业服务公司得分：
    </div>
    <div>
      <% if @community.reports.empty? %>
      <p></p>
      <% else %>
        <%= @community.reports.where("closed = ? AND entity = ?", true, "物业服务公司").average("average").round(2) %> <%= image_tag('icons/star-red-outline.png', width: '20', height: '20', title: '星', rel: 'tooltip') %> / 5.00 <%= image_tag('icons/star-red-outline.png', width: '20', height: '20', title: '星', rel: 'tooltip') %>
      <% end %>
    </div>

  <p>&nbsp;</p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
    <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
  </button>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
