<%= form_for(worktime) do |f| %>
  <% if worktime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worktime.errors.count, "error") %> prohibited this worktime from being saved:</h2>

      <ul>
      <% worktime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :beginning %>
    <%= f.datetime_select :beginning %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>

  <div class="field">
    <%= f.label :month %>
    <%= f.number_field :month %>
  </div>

  <div class="field">
    <%= f.label :day %>
    <%= f.number_field :day %>
  </div>

  <div class="field">
    <%= f.label :ending %>
    <%= f.datetime_select :ending %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="field">
    <%= f.label :suan %>
    <%= f.check_box :suan %>
  </div>

  <div class="field">
    <%= f.label :identity_id %>
    <%= f.text_field :identity_id %>
  </div>

  <div class="field">
    <%= f.label :province_id %>
    <%= f.text_field :province_id %>
  </div>

  <div class="field">
    <%= f.label :city_id %>
    <%= f.text_field :city_id %>
  </div>

  <div class="field">
    <%= f.label :district_id %>
    <%= f.text_field :district_id %>
  </div>

  <div class="field">
    <%= f.label :local_id %>
    <%= f.text_field :local_id %>
  </div>

  <div class="field">
    <%= f.label :community_id %>
    <%= f.text_field :community_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
