
<p>
  <%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), worktimes_path %>
</p>

<h3><%= @worktime.user.identity.lastname %><%= @worktime.user.identity.firstname %>, 您今天辛苦了！</h3>

<%= simple_form_for(@worktime) do |f| %>
  <%#= render 'shared/errors', object: f.object %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :ending, :value => Time.now %>
    <%= f.hidden_field :suan, :value => true %>


    <%= f.input :note, label: false, as: :text, placeholder: '请填写工作笔记。最少6个字，最多140个字。' %>


    <%= f.button :button do %>
      打卡下班！ <%= image_tag "icons/forward-arrow-50.png", :size => '25x25', :title => "提交" %>
    <% end %>

  </div>
<% end %>

<p>&nbsp;</p>
<p>&nbsp;</p>
<div>
  <table width = "100%">
    <tr>

      <td width = "33%"><%= link_to image_tag('icons/details.png', width: '25', height: '25', title: '详情', rel: 'tooltip'), @worktime %></td>

      <td width = "33%"></td>

      <td width = "33%"></td>

    </tr>

  </table>
</div>
