<h2>算？不算？</h2>

<p>
  <!-- Leader icon by Icons8 -->
<img src="https://png.icons8.com/leader/ios7/25" title="义务工作者" width="25" height="25"><%= @worktime.user.identity.lastname %><%= @worktime.user.identity.firstname %>
</p>

<p>

  <img src="https://png.icons8.com/sand-watch/ios7/25" title="开始" width="15" height="15"><%= @worktime.beginning.strftime("%Y年%m月%d日 %H:%M") %>
</p>
<p>
  <% if @worktime.ending > @worktime.beginning %><img src="https://png.icons8.com/sand-timer/ios7/25" title="结束" width="15" height="15"><%= @worktime.ending.strftime("%Y年%m月%d日 %H:%M") %><% else %><img src="https://png.icons8.com/hourglass/ios7/25" title="工作中" width="25" height="25">......<% end %>
</p>

<p>

  <button type="button" class="btn btn-primary">
    总共 <span class="badge badge-light"><%= @worktime.duration %>分钟</span>
    <span class="sr-only"></span>
  </button>
</p>

<p>
  <% if @worktime.note? %>“<%= @worktime.note %>”<% else %>暂无工作笔记。<% end %>
</p>

<%= form_for(@worktime) do |f| %>
  <%= render 'shared/errors', object: f.object %>


  <%#= f.hidden_field :identity_id, :value => current_user.identity.id %>

  <div class="field">
    <div>
      如果是√，算入总时间。
    </div>
    <% if @worktime.suan == true %><img src="https://png.icons8.com/time-span/ios7/25" title="算！" width="25" height="25"><% else %><img src="https://png.icons8.com/no-entry/ios7/25" title="No Entry" width="25" height="25"><% end %>    <%= f.check_box :suan %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @worktime %> |
<%= link_to 'Back', worktimes_path %>
