<h2>记录今天的义务工作时间</h2>

<iframe src="http://free.timeanddate.com/clock/i62toxbn/n33/tlcn8/fn12/fs18/fcfff/tc22d/ftb/bls0/brs0/bts4/btc00b/tt0" frameborder="0" width="327" height="34"></iframe></br>

  <div id="new-entry-link">
    <%= link_to '打卡为咱小区义务工作吧', new_worktime_path %> <%= image_tag "icons/forward-arrow-50.png", :size => '25x25', :title => "前行" %>
  </div>
<p>&nbsp;</p>

<div>
  <% if @worktimes.empty? %>
<!-- why not .nil? probably because @reports have other records in a different community. And .empty? means @reports do not have anything matching this community-->
    您的小区还没有任何义务工作记录。您来做敢于吃螃蟹的第一人吧！

  <% else %>
    <div>
      <p><%= image_tag "icons/sigma-50.png", :size => '25x25', :title => "总和" %> 咱们小区义务工作时间历史总和为<span class="badge badge-pill badge-success"><%= @totaltimes %></span>分钟</p>
    </div>

    <div>
    <% @worktimes.each do |worktime| %>
      <p></p>
      <div id="index-card">
        <!--
        client side avatar test <div id="md5logo"><input id="tMd5" type="text" value="<%= worktime.user.emailmd5 %>">  </div>
      -->

    <%= gravatar_for worktime.user %> <%= link_to worktime.user.identity.lastname + worktime.user.identity.firstname, :controller => 'users', :action => 'show', :id => worktime.user_id %></br>
    <p></p>
        <%= image_tag "icons/sand-timer-start.png", :size => '15x15', :title => "开始" %> <span id="emphasized-date"><%= worktime.beginning.strftime("%Y年%m月%d日 %H:%M") %></span></br>

        <p></p>

        <p id="note">“<%= worktime.note %>”</p>
        <div>
          <% if worktime.ending > worktime.beginning %><%= image_tag "icons/sand-timer-end.png", :size => '15x15', :title => "结束" %> <span id="emphasized-date"><%= worktime.ending.strftime("%Y年%m月%d日 %H:%M") %></span><% else %><%= image_tag "icons/sand-timer.png", :size => '25x25', :title => "工作中" %>......工作中<% end %>
        </div>

        <p></p>

        <div>
          <button type="button" class="btn btn-primary">
            总共 <span class="badge badge-light"><%= worktime.duration %>分钟</span>
            <span class="sr-only"></span>
          </button>
        </div>
        </br>
    <p>
      <table width = "100%">
        <tr>
          <td width = "33%"><%= link_to image_tag('icons/details.png', width: '25', height: '25', title: '详情', rel: 'tooltip'), worktime %></td>
          <td width = "33%"><% if current_user.id == worktime.user_id && worktime.suan == false %><%= link_to image_tag('icons/sand-timer-end.png', width: '25', height: '25', title: '打卡下班咯！', rel: 'tooltip'), edit_worktime_path(worktime) %><% end %></td>
          <td width = "33%"><% if current_user.id == worktime.user_id %><%= link_to image_tag('icons/trash-can.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), worktime, method: :delete, data: { confirm: '确定删除？' } %><% end %></td>
        </tr>
      </table>
    </p>
  </div>
<% end %>
</div>
<% end %>
</div>
