<p>
  <%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), worktimes_path %>
</p>
<h3>朕的小区，朕做主！</h3>

<%= simple_form_for(@worktime) do |f| %>
  <%#= render 'shared/errors', object: f.object %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :beginning, :value => Time.now %>
    <%= f.hidden_field :year, :value => Time.now.year %>
    <%= f.hidden_field :month, :value => Time.now.month %>
    <%= f.hidden_field :day, :value => Time.now.day %>
    <%#= f.hidden_field :identity_id, :value => current_user.identity.id %>
    <%= f.hidden_field :community_id, :value => current_user.identity.residence.community.id %>
    <%= f.hidden_field :local_id, :value => current_user.identity.residence.community.local.id %>
    <%= f.hidden_field :district_id, :value => current_user.identity.residence.community.local.district.id %>
    <%= f.hidden_field :city_id, :value => current_user.identity.residence.community.local.district.city.id %>
    <%= f.hidden_field :province_id, :value => current_user.identity.residence.community.local.district.city.province.id %>

    <%#= f.input :note, label: false, as: :text, error: 'Username is mandatory, please specify one', placeholder: '请填写工作笔记。最少6个字，最多140个字。必填！' %>
    <!--not working in the correct way. however, a client side validates might work to make server side validation useless.  -->


    <%= f.input :note, label: false, as: :text, hint: '每人每天只能打卡一次！谢谢您为小区作出的贡献！', placeholder: '请填写工作笔记。最少6个字，最多140个字。必填！' %>

    <%= f.button :button do %>
      请打卡开始义务工作！ <%= image_tag "icons/forward-arrow-50.png", :size => '25x25', :title => "提交" %>
    <% end %>
      <%#= f.submit '请打卡开始义务工作' %>
  </div>
<% end %>

<p>&nbsp;</p>
<%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), worktimes_path %>
