<%# content_for :head do %>
  <!--<meta http-equiv="refresh" content="5">
   the page refresh every 5 seconds, not appliable for this case. -->
<%# end %>

<p>
<%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), worktimes_path %>
</p>

<div id = "index-card">
  <p>
    <%= gravatar_for @worktime.user %> <%= link_to @worktime.user.identity.lastname+@worktime.user.identity.firstname, :controller => 'users', :action => 'show', :id => @worktime.user_id %>
  </p>

  <p>

    <%= image_tag "icons/sand-timer-start.png", :size => '15x15', :title => "开始" %><%= @worktime.beginning.strftime("%Y年%m月%d日 %H:%M") %>
  </p>

  <p>
    <% if @worktime.note? %>“<%= @worktime.note %>”<% else %>暂无工作笔记。<% end %>
  </p>

  <p>
    <% if @worktime.ending > @worktime.beginning %><%= image_tag "icons/sand-timer-end.png", :size => '15x15', :title => "结束" %><%= @worktime.ending.strftime("%Y年%m月%d日 %H:%M") %><% else %><%= image_tag "icons/sand-timer.png", :size => '25x25', :title => "工作中" %>......工作中<% end %>
  </p>

  <p>

    <button type="button" class="btn btn-primary">
      总共 <span class="badge badge-light"><%= @worktime.duration %>分钟</span>
      <span class="sr-only"></span>
    </button>
  </p>

  <div>
    <table width = "100%">
      <tr>
        <td width = "33%"><%= link_to image_tag('icons/back-arrow.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), worktimes_path %></td>
        <td width = "33%"><% if current_user.id == @worktime.user_id && @worktime.suan == false %><%= link_to image_tag('icons/sand-timer-end.png', width: '25', height: '25', title: '打卡下班咯！', rel: 'tooltip'), edit_worktime_path(@worktime) %><% end %></td>
        <td width = "33%"><% if current_user.id == @worktime.user_id %><%= link_to image_tag('icons/trash-can.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @worktime, method: :delete, data: { confirm: '确定删除吗？' } %><% end %></td>
      </tr>

    </table>
  </div>
</div>

<p></p>
<!--
<p id="info-link">info</p>
-->
<div id="info-link">
  <button type="button" class="btn btn-outline-warning">常见问答......</button>
</div>
<p></p>

<div class="banner-message">
  <div id = "index-card">

    <p>
      问：何为小区义务工作？</br>
      答：小区义务工作的定义是，您明明知道在没有任何物质和金钱回报的前提下，为了把自己小区，自己家园的公摊面积管理得更加美好，坚持为大家工作，奉献！
    </p>

    <p>
      问：为什么咱今天的工作时间记录为０？</br>
      答：每人每天至少要工作１０分钟以上，才能有记录。如果您记录有误，可以删除它，再重新记录．每人每天只能有一个工作时间记录．
    </p>


    <p>
      问：咱今天为小区义务工作了１２０分钟, 为何只仅仅记录了６０分钟的时间？</br>
      答：＂小区记忆＂鼓励和希望广大的业主们和居民们每人每天都能够广泛地参与小区义务工作，而不是您一个人每天累死累活地为小区义务工作．如此这般最后的结果很有可能是，您因为太操劳了，而丧失了工作热情。希望下一次，您能把这一份工作分为２天来完成，也可以邀请另外一位业主和您一起来完成这项工作．
    </p>


  </div>
</div>
