<%= simple_form_for(@report) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :building %>
    <%= f.input :surround %>
    <%= f.input :floor %>
    <%= f.input :facility_type %>
    <%= f.input :unit %>
    <%= f.input :entity %>
    <%= f.input :representative %>
    <%= f.association :sex %>
    <%= f.input :contact_type %>
    <%= f.input :fix_date %>
    <%= f.input :attitude %>
    <%= f.input :fix_time %>
    <%= f.input :fix_result %>
    <%= f.input :average %>
    <%= f.input :note1 %>
    <%= f.association :identity %>
    <%= f.input :closed %>
    <%= f.input :note2 %>
    <%= f.association :province %>
    <%= f.association :city %>
    <%= f.association :district %>
    <%= f.association :local %>
    <%= f.association :community %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
