<div><!--big if begins -->
  <% if @reports.nil? %>
<!-- why not .nil? probably because @reports have other records in a different community. And .empty? means @reports do not have anything matching this community-->
    您的小区还没有任何汇报。您来做第一人吧！

  <% else %>

        <%# @reports.each do |report| %>
        <p></p>

          <div id="index-card">
            <table width="100%">
              <tr>
                <td width="80%">
                  <div id="emphasized-date">
                    <%= (report.created_at).strftime("%Y年%m月%d日 %H:%M") %>
                  </div>
                </td>

                <td width="20%">
                  <% if report.closed == true %>
                  <%= image_tag('icons/star-red-outline.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
                  <% else %>
                  <%= image_tag('icons/atwork-red-outline.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
                  <% end %>
                </td>
              </tr>
            </table>

            <table>
              <tr>
                <td width="20%">
                  <% if report.user.identity.sex == "女" %>
                    <%= gravatar_female report.user %>
                  <% elsif report.user.identity.sex == "男" %>
                    <%= gravatar_male report.user %>
                  <% end %>
                </td>
                <td width="20%">
                  <span id="name"><%= link_to report.user.identity.lastname + report.user.identity.firstname, :controller => 'users', :action => 'show', :id => report.user_id %></span>
                </td>

                <td width="20%"><span id="bold"><%= report.user.identity.residence.role %></span></td>
                <td width="20%"><%= report.user.identity.age_group %>0后</td>
                <td width="20%">1234<%#= poll.user.identity.residence.community.local.district.city.name %></td>

              </tr>
            </table>
            <p></p>
            <div>
              汇报了在第<span id="data-entry"><%= report.building %></span>栋建筑的<% if report.floor? %><span id="data-entry">第<%= report.floor %></span>层楼<% end %>，<span id="data-entry"><%= report.surround %></span><% if report.unit? %>邻居单元号，<span id="data-entry"><%= report.unit %></span><% else %><span id="data-entry"><%= report.facility_type %></span>:<% end %></br>
            </div>

            <!-- <div id="note">“<%#= report.note1 %>”</div> -->


            <hr width="90%"></hr>

            <% if report.closed == true %>
            <!-- <table>
              <tr>
                <td width="20%">
                  <% if report.identity.sex == "女" %>
                    <%= gravatar_female report.identity.user %>
                  <% elsif report.identity.sex == "男" %>
                    <%= gravatar_male report.identity.user %>
                  <% end %>


                </td>
                <td width="20%"><span id="name"><%= link_to report.identity.lastname + report.identity.firstname, :controller => 'users', :action => 'show', :id => report.user_id %></span></td>

                <td width="20%"><span id="bold"><%= report.identity.residence.role %></span></td>
                <td width="20%"><%= report.identity.age_group %>0后</td>
                <td width="20%"></td>
              </tr>
            </table>

            <p></p>
              <div>鉴定了最后的结果，</div>

              <p></p>
              <div id="note">“<%= report.note2 %>”</div>

                <hr width="90%"></hr> -->

              <div>
                <%= image_tag "icons/abacus-red-outline.png", :size => '20x20', :title => "计算" %> <span id="section-title"><%= report.entity %>本次平均得分:</span><%= report.average %> <%= image_tag('icons/star-red-outline.png', width: '20', height: '20', title: '星', rel: 'tooltip') %>
              </div>

            <% else %>

            <% end %><!--if report.closed ends-->

            <table width="100%">
              <tr>
                <td width="20%"><%= image_tag('icons/comment0-plus-filled.png', width: '30', height: '30', title: '详情', rel: 'tooltip') %><div id="menu-font"><%= report.report_comment0s.size %>评论</div>

                </td>

                <td width="20%" id="image-holder">
                  <%#= image_tag('icons/like-plus-filled.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
                </td>

                <td width="20%" id="image-holder">

                </td>

                <td width="20%" id="image-holder">

                </td>
                <td width="20%">
                    <%#= link_to '详情', report %> <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '详情', rel: 'tooltip'), report %><div id="menu-font">此贴详情</div>
                </td>
              </tr>
            </table>
          </div><!--index-card ends-->
        <%# end %><!--@reports.each do |report| ends-->
    </div><!--report div ends-->

    <p>&nbsp;</p>
  <% end %> <!-- report empty ends-->
</div><!--big if ends -->
