<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果一个汇报迟迟没有得到解决，作为"结果鉴定者"，咱能结束这个汇报，并且给它打０分吗？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 如果这个汇报没有得到解决，就不要给它最后打分来结束这个汇报，直到这个汇报得到解决为止，无论多久．这样，咱们的数据库就会得到一个＂汇报解决比＂．举例来讲，如果在一年中，总共有1000个汇报，而相关机构或者个人仅仅解决了600个，那这一年来的＂汇报解决比＂就是60%，这也是不及格的．
            </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 某个汇报已经得到解决，在给它最后打分之前，作为"结果鉴定者"还应该注意什么吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 请仔细检查此汇报是否真的得到了解决？如果不满意，是否可以让相关机构或者个人重新解决？如果相关机构或者个人坚持认为已经解决，请多多参考“汇报发起人”和“汇报追踪者”们对此相关机构或者个人的意见．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 选“是”以后，已经提交咱的打分，还能反悔吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 这就是此汇报的最终结果，无法反悔．所以请慎重打分．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> “汇报发起人”与"结果鉴定者"可以是同一位业主吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 可以，但也可以是不同的业主．
              </div>

              <!-- <p>&nbsp;</p>
                  <div class="ask">
                    <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱愿意当小区义工管理员，如何申请？
                  </div>
                  <div class="answer">
                    <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 首先，您必须是小区＂业主＂的身份才能申请。咱们正在整理出详细的申请办法，谢谢耐心等待！
                  </div> -->

          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="content-box">

  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"><%= link_to image_tag('icons/atwork-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), reports_path %><div id="menu-font">全部投诉</div></td>
      </tr>

    </table>
  </div>

  <div id="page-title">服务已经完成？请您鉴定结果</div>

  <p></p>

  <div id="index-card">
    <table width="100%">
      <tr>
        <td width="80%">
          <div id="emphasized-date">
            <%= (@report.created_at).strftime("%Y年%m月%d日 %H:%M") %>
          </div>
        </td>

        <td width="20%">
          <% if @report.closed == true %>
          <%= image_tag('icons/star-red-outline.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
          <% else %>
          <%= image_tag('icons/atwork-red-outline.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
          <% end %>
        </td>
      </tr>
    </table>

<p></p>
    <div>
        <span id="data-entry"><%= @report.user.identity.lastname %><%= @report.user.identity.firstname %></span>业主，＂汇报者＂通过<span id="data-entry"><%= @report.contact_type %></span>的方式，向<span id="data-entry"><%= @report.entity %></span>的<span id="data-entry"><%= @report.representative %></span><% if @report.sex == '男' %>先生<% else %>女士<% end %>汇报了在第<span id="data-entry"><%= @report.building %></span>栋建筑的<% if @report.floor? %><span id="data-entry"><%= @report.floor %></span>层楼<% end %>，<span id="data-entry"><%= @report.surround %></span>的<% if @report.unit? %>邻居单元号，<span id="data-entry"><%= @report.unit %></span><% else %><span id="data-entry"><%= @report.facility_type %></span>: <% end %>
    </div>
<p></p>
    <div id="note">
      “<%= @report.note1 %>”
    </div>
<p></p>
    <div>

      <span id="data-entry"><%= @report.representative %></span><% if @report.sex == '男' %>先生<% else %>女士<% end %>承诺在<span id="emphasized-date"><%= (@report.fix_date).strftime("%Y年%m月%d日") %></span>以前，完全解决此事。

    </div>
<p></p>
    <div>
      <span id="data-entry"><%= @report.user.identity.lastname %><%= @report.user.identity.firstname %></span>，对<span id="data-entry"><%= @report.entity %></span>打分如下：
      </p>

    </div>

    <div id="score">
      1/3，意愿和态度:

      <%= @report.attitude %>分 <%= image_tag('icons/star-red-outline.png', width: '20', height: '20', title: '时光飞驰中', rel: 'tooltip') %></br>

      2/3，承诺解决日期:
      <%= @report.fix_time %>分 <%= image_tag('icons/star-red-outline.png', width: '20', height: '20', title: '时光飞驰中', rel: 'tooltip') %>

    </div>
</div>
<%= image_tag('icons/clock-red-outline.png', width: '25', height: '25', title: '时光飞驰中', rel: 'tooltip') %>
  <div id="index-card">

    <div>
      服务已经完成？请您作为＂鉴定者＂，打出最后一项评分：
    </div>
    <p></p>

    <%= simple_form_for(@report) do |f| %>
      <%#= render 'shared/errors', object: f.object %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.hidden_field :identity_id, :value => current_user.identity.id %>
        <!--user_id to create, and identity_id to update -->
        <div id="score">
          3/3，最终解决结果</br>
          <%= f.collection_radio_buttons :fix_result, [[0.0, '打赏０分，什么都没做！'], [1.0, '打赏１分，非常不满意。'], [2.0, '打赏２分，不太满意。'], [3.0, '打赏３分，基本满意吧。'], [4.0, '打赏４分，非常满意。'], [5.0, '打赏５分，几乎完美！']], :first, :last %></br>
        </div>
        <%#= f.text_area :note2, class: "form-control", placeholder: "描述详细情况。最少5个字，最多280个字。必填！", rows: 3 %>
        <%= f.input :note2, label: false, as: :text, placeholder: '描述详细情况。最少6个字，最多140个字。' %>
        <%= f.hidden_field :closed, :value => true %>

        <p>&nbsp;</p>
        <%= f.button :button do %>
          提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <p>&nbsp;</p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
    <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
  </button>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
