<div class="content-box">

  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"><%= link_to image_tag('icons/xiaoqu-red-heart-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), :controller => 'communities', :action => 'show', :id => current_user.identity.residence.community_id %><div id="menu-font">咱的小区</div></td>
      </tr>

    </table>
  </div>

<div id="page-title">汇报记录</div>

  <%= will_paginate @reports %>
  <div id="reports">

      <%= render @reports %>

  </div>

  <%= will_paginate @reports, class: "pagination pagination-lg" %>

  <div class="bottom-menu">
    <table id="full">
      <tr>
        <td width = "20%">

        </td>

        <td width = "20%">

        </td>

        <td width = "20">

            <%= link_to image_tag('icons/atwork-plus-filled.png', width: '35', height: '35', title: '请添加新汇报', rel: 'tooltip'), new_report_path %><div id="menu-font">添新汇报</div>

        </td>

        <td width = "20%">

        </td>

        <td width = "20%">

        </td>
      </tr>

    </table>
  </div>

</div><!-- content-box ends -->
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
