<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 小区的相关机构或者个人知道咱们会把这个汇报永久地记录在案吗？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 不管小区的相关机构或者个人知不知道，咱们都可以记录，记录是咱们业主自己的事情，也是咱们业主自己的自由．当然，平台方仍然建议，在汇报时，告诉对方咱们业主会永久地记录此汇报，让对方有所忌惮，提高解决问题的效率和服务质量．
            </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 这样永久地记录下汇报的内容和打分结果，真的能让有关机构和个人有所约束吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 平台方相信，任何小区的相关机构都有荣辱观念，不想永远拿低分，更何况还要与全国其它小区的相关机构展开商业竞争．个人也有面子观念，不想自己的单元门牌号被永久地记录在小区的数据库里，被其他业主邻居们千夫所指吧．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 在正式汇报之前，咱能不能先练习练习？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 可以的．您随时可以删除您自己创建的汇报．您也可以在详细情况里，写明＂测试练习＂让大家知道就行．这不算违规．平台方也会不定期地删除有＂测试练习＂的汇报．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱请有关机构的工作人员来咱自己的单元内部做了一些修理工作，咱对她他们的工作不满意，能在这里汇报吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 不能．如果不满意，您完全可以请外面的任何公司来为您单元内部进行重新修理．咱们这个平台主要是针对于小区公摊面积的管理和维修工作，和协调邻里之间的关系，而不是自己单元内的管理和维修工作．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果咱要投诉一个隔壁单元里的邻居，应该怎么办？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 平台方认为，邻里之间应该是以和为贵，要充分地尊重对方的颜面．可以先不要填写这张表格，而是找到这位邻居沟通，商量解决办法．实在不行，也不要和她他起直接的，正面的冲突，而是请相关机构的工作人员出面来中间当协调人．如果还是不行，这时候就可以填写这个汇报了，把这件事儿公开，并且让对方和其他业主和邻居们都来平台上评评理．小区业主们自然会有公论．如果最后对方给出了比较满意的解决办法，您也最好删除这个汇报，不让它成为永久的记录，给对方一个台阶下，让对方保留一丝薄面．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱们业主这样做的最终目的，就是要把某相关机构开除出小区吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 不一定．这样做的目的是希望小区里的相关机构能够有所作为，提高自身的服务水平，这样对于她他们自己和小区业主居民们都是双赢！如果她他们在比较长的日期内，仍然无法提高自身的服务水平，那咱们业主也就有了开除此机构出小区的理由和证据链．
              </div>

          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <h4><%= gravatar_25 current_user %>　添加汇报......</h4>

  <%= simple_form_for @report do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <div id = "index-card">
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :closed, :value => false %>
        <%= f.hidden_field :community_id, :value => current_user.identity.residence.community.id %>
        <%= f.hidden_field :local_id, :value => current_user.identity.residence.community.local.id %>
        <%= f.hidden_field :district_id, :value => current_user.identity.residence.community.local.district.id %>
        <%= f.hidden_field :city_id, :value => current_user.identity.residence.community.local.district.city.id %>
        <%= f.hidden_field :province_id, :value => current_user.identity.residence.community.local.district.city.province.id %>

        <%= f.input :building, label: false, placeholder: "哪栋建筑？最多６个字，必填." %>

        <%= f.input :floor, label: false, placeholder: "第几层楼？最多６个字，必填." %>

        <%= f.input :surround, label: false, prompt: "位置方向，必选.", collection: [ "大厅内部墙面", "大厅内部地面", "大厅内部天花板", "邻居单元", "建筑外部墙面", "顶层阳台", "地下车库", "露天地面", "小区外围" ] %>

        <%= f.input :facility_type, label: false, placeholder: "设备名称，最多６个字，可为空." %>

        <%= f.input :unit, label: false, placeholder: "投诉汇报邻居的完整单元号码，可为空." %>
        <%= f.input :note1, label: false, as: :text, placeholder: '描述详细情况。最少6个字，最多140个字，必填.' %>
      </div>

      <div id = "index-card">
        <%= f.input :entity, label: false, prompt: "请选择汇报的对象公司机构", collection: [ "物业服务公司", "房地产开发商", "低层商户单元", "小区邻居业主", "其它机构部门" ] %>

        <%= f.input :representative, label: false, placeholder: "以上对象机构接洽人的姓名。最多６个字，必填." %>

        <%= f.input :sex, label: false, prompt: "以上接洽人的性别。", collection: [ "男", "女" ] %>

        <%= f.input :contact_type, label: false, prompt: "汇报方式，必填.", priority: [ "面对面" ], collection: [ "面对面", "打电话", "电子邮件", "社交媒体", "纸质信件" ] %>

        <%= f.input :fix_date, label: '对方承诺在以下日期之前解决此汇报', as: :date, start_year: Date.today.year, end_year: Date.today.year + 3, order: [:year, :month, :day] %>
      </div>

      <div id = "index-card">
        <p>"投诉发起者"对汇报对象打分如下：</p>
        <div>
          <div id="form-label">1/3，意愿和态度</div>

          <%= f.collection_radio_buttons :attitude, [[0.0, '打赏０分，拒绝解决此投诉！没有合理的解释。'], [1.0, '打赏１分，几乎没有意愿解决此投诉！牵强的解释。'], [2.0, '打赏２分，好像不太愿意解决此投诉！半推半就。'], [3.0, '打赏３分，愿意解决此投诉。态度一般。'], [4.0, '打赏４分，承诺解决此投诉！态度比较积极。'], [5.0, '打赏５分，保证解决此投诉！态度非常积极！']], :first, :last %>

          <div id="form-label">2/3，承诺解决日期</div>

          <%= f.collection_radio_buttons :fix_time, [[0.0, '打赏０分，没有给出解决此投诉的日期。'], [1.0, '打赏１分，给出的解决日期非常不合理！'], [2.0, '打赏２分，给出的解决日期不太合理。'], [3.0, '打赏３分，给出的解决日期勉强合理。'], [4.0, '打赏４分，给出的解决日期比较合理。'], [5.0, '打赏５分，给出的解决日期非常合理！']], :first, :last %></br>
        </div>
      </div>
      <p></p>
      <%= f.button :button do %>
        提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交!" %>
      <% end %>

    </div>
  <% end %>
  <p>&nbsp;</p>


  <!-- Button trigger modal -->
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
    <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
  </button>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
