<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">常见问题回答</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div><!--faq begins-->

            <div class="ask">
              <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 某个汇报已经解决了，但为什么迟迟没有最后的打分？
            </div>
            <div class="answer">
              <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 那您就来作最后的＂鉴定者＂吧，来对最终的结果打分吧．
            </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果发现汇报有差错，可以删除咱的新汇报吗？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> ６０分钟之内是可以的．
              </div>

          <!-- <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱万一不小心而发表了以上被严禁方面的帖子怎么办？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 建议您先打草稿，再发帖子。１５分钟内可以删除您自己的帖子．
              </div>

          <p>&nbsp;</p>
              <div class="ask">
                <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 如果帖子被发现违规，会有什么处罚？
              </div>
              <div class="answer">
                <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 此平台是由小区业主们自己来管理的．一旦有违规的帖子，义工业主们会对您进行禁言天数的处罚．情节严重者可能会被＂永远＂请出平台，以及上报给有关政府部门．具体规则由全体业主们来制定，也包括您自己．
              </div>

              <p>&nbsp;</p>
                  <div class="ask">
                    <%= image_tag'icons/ask-red-outline.png', width: '27', height: '27', title: '身份信息', rel: 'tooltip' %> 咱愿意当小区义工管理员，如何申请？
                  </div>
                  <div class="answer">
                    <%= image_tag'icons/answer-outline.png', width: '25', height: '25', title: '身份信息', rel: 'tooltip' %> 首先，您必须是小区＂业主＂的身份才能申请。咱们正在整理出详细的申请办法，谢谢耐心等待！
                  </div> -->

          </div><!--faq ends-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<div class="content-box">
  <p>

  </p>
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), reports_path %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">
          <% if @report.favor_reports.where("user_id = ?", current_user.id).count > 0 %>
            <div><%= link_to image_tag('icons/atwork-heart-filled.png', width: '30', height: '30', title: '您已收藏', rel: 'tooltip'), favor_reports_path %></div>
            <div id="menu-font">被<%= @report.favor_reports.count %>收藏</div>
            <!-- <%#= link_to image_tag('icons/heart-red-outline.png', width: '30', height: '30', title: '删除吗？', rel: 'tooltip'), @report.favor_report, method: :delete, data: { confirm: '确定删除吗？' } %><div id="menu-font">您已收藏</div> -->
          <% else %>
            <%= link_to image_tag('icons/heart-plus-filled.png', width: '30', height: '30', title: '添加收藏', rel: 'tooltip'), :controller => 'favor_reports', :action => 'new', :id => @report.id %><div id="menu-font"><%= @report.favor_reports.count %>收藏</div>
          <% end %>
        </td>

        <td width = "20%"><% if @report.user.id == current_user.id && (Time.zone.now - @report.created_at)/60 < 60 && @report.closed != true %>
          <%= link_to image_tag('icons/trash-filled.png', width: '30', height: '30', title: '删除', rel: 'tooltip'), @report, method: :delete, data: { confirm: '确定删除吗？' } %><div id="menu-font">删除此帖</div>
        <% end %></td>

        <td width = "20%"><%= link_to image_tag('icons/atwork-filled.png', width: '30', height: '30', title: '工作中...', rel: 'tooltip'), reports_path %><div id="menu-font">全部汇报</div></td>
      </tr>

    </table>
  </div>

  <p></p>
<div id="page-title"><%#= image_tag('icons/atwork-red-outline.png', width: '30', height: '30', title: '评论', rel: 'tooltip') %> 汇报详情</div>

  <div id = "index-card">

    <table width="100%">
      <tr>
        <td width="80%">
          <div id="emphasized-date">
            <%= (@report.created_at).strftime("%Y年%m月%d日 %H:%M") %>
          </div>
        </td>

        <td width="20%">
          <% if @report.closed == true %>
          <%= image_tag('icons/star-red-outline.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
          <% else %>
          <%= image_tag('icons/atwork-red-outline.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
          <% end %>
        </td>
      </tr>
    </table>
    <p>

      <table>
        <tr>
          <td width="20%">
            <% if @report.user.identity.sex == "女" %>
              <%= gravatar_female @report.user %>
            <% elsif @report.user.identity.sex == "男" %>
              <%= gravatar_male @report.user %>
            <% end %>
          </td>
          <td width="20%"><span id="name"><%= link_to @report.user.identity.lastname + @report.user.identity.firstname, :controller => 'users', :action => 'show', :id => @report.user_id %></span>

          <td width="20%"><span id="bold"><%= @report.user.identity.residence.role %></span></td>
          <td width="20%"><%= @report.user.identity.age_group %>0后</td>
          <td width="20%"></td>
        </tr>
      </table>

      <p></p>
      <div>
        ＂汇报者＂通过<span id="data-entry"><%= @report.contact_type %></span>的方式，向<span id="data-entry"><%= @report.entity %>，<%= @report.representative %></span><% if @report.sex == '男' %>先生<% else %>女士<% end %>汇报了在<span id="data-entry"><%= @report.building %></span>栋建筑<% if @report.floor? %><span id="data-entry"><%= @report.floor %></span>层楼<% end %>，<span id="data-entry"><%= @report.surround %></span>，<% if @report.unit? %>邻居单元号，<span id="data-entry"><%= @report.unit %></span><% else %><span id="data-entry"><%= @report.facility_type %></span>的问题：<% end %>
      </div>
    <p></p>

    <div id="note">
      “<%= @report.note1 %>”
    </div>
<p></p>
    <div>
      <span id="data-entry"><%= @report.representative %></span><% if @report.sex == '男' %>先生<% else %>女士<% end %>承诺在<span id="emphasized-date"><%= (@report.fix_date).strftime("%Y年%m月%d日") %></span>以前，完成此次服务。
    </div>
    <p></p>
    <div id="score">

      1/3, 意愿和态度:
      <%= @report.attitude %> <%= image_tag('icons/star-red-outline.png', width: '20', height: '20', title: '星', rel: 'tooltip') %></br>

      2/3, 承诺完成日期:
      <%= @report.fix_time %> <%= image_tag('icons/star-red-outline.png', width: '20', height: '20', title: '星', rel: 'tooltip') %></br>
    </div>

  </div>


    <% if @report.closed == true %>

    　<%= image_tag('icons/clock-red-outline.png', width: '25', height: '25', title: '时光飞驰中', rel: 'tooltip') %>

     <div id = "index-card">
      <p id="emphasized-date">
        <%#= image_tag('icons/sand-timer-end.png', width: '20', height: '20', title: '开始', rel: 'tooltip') %>
        <%# if (@report.updated_at).strftime("%w") == "0" %>
          <%#= (@report.updated_at).strftime("%Y年%m月%d日 星期日 %H:%M") %>
        <%# else %>
        <%= (@report.updated_at).strftime("%Y年%m月%d日 %H:%M") %>

        <%# end %>
      </p>


      <table>
        <tr>
          <td width="20%">
            <% if @report.identity.sex == "女" %>
              <%= gravatar_female @report.identity.user %>
            <% elsif @report.identity.sex == "男" %>
              <%= gravatar_male @report.identity.user %>
            <% end %>
          </td>
          <td width="20%">
            <span id="name"><%= link_to @report.identity.lastname + @report.identity.firstname, :controller => 'users', :action => 'show', :id => @report.user_id %></span>
          </td>
          <td width="20%"><span id="bold"><%= @report.identity.residence.role %></span></td>
          <td width="20%"><%= @report.identity.age_group %>0后</td>
          <td width="20%">1234<%#= poll.user.identity.residence.community.local.district.city.name %></td>


              <%#= poll.user.identity.residence.unit %>
        </tr>
      </table>
      <p></p>
      <div>
        <div>作为＂鉴定者＂，打出最后一项评分：</div>
        <p></p>

        <div id="note">
          “<%= @report.note2 %>”
        </div>
        <p></p>
        <div id="score">
          3/3, 最终服务结果：<%= @report.fix_result %> <%= image_tag('icons/star-red-outline.png', width: '20', height: '20', title: '星', rel: 'tooltip') %></br>
        </div>

      </div>

      <p></p>

  </div>
  <p></p>
    <div>
      <%= image_tag "icons/abacus-red-outline.png", :size => '25x25', :title => "计算" %> <span id="data-entry"><%= @report.entity %></span>本次平均得分:<%= @report.average %> <%= image_tag('icons/star-red-outline.png', width: '20', height: '20', title: '星', rel: 'tooltip') %>
    </div>
    <p>&nbsp;</p>
  <% else %>
    <div id="score">
      3/3 <%= image_tag('icons/atwork-red-outline.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %> 工作中...
    </div>




    <div id="index-card">

      <table width="100%">
        <tr>
          <td width="80%">
            <div id="emphasized-date">
              <%= (@report.created_at).strftime("%Y年%m月%d日 %H:%M") %>
            </div>
          </td>

          <td width="20%">
            <% if @report.closed == true %>
            <%= image_tag('icons/star-red-outline.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
            <% else %>
            <%= image_tag('icons/atwork-red-outline.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
            <% end %>
          </td>
        </tr>
      </table>
      <p>

        <table>
          <tr>
            <td width="20%">
              <% if current_user.identity.sex == "女" %>
                <%= gravatar_female current_user %>
              <% elsif current_user.identity.sex == "男" %>
                <%= gravatar_male current_user %>
              <% end %>
            </td>
            <td width="20%"><span id="name"><%= link_to current_user.identity.lastname + current_user.identity.firstname, :controller => 'users', :action => 'show', :id => current_user.id %></span>

            <td width="20%"><span id="bold"><%= current_user.identity.residence.role %></span></td>
            <td width="20%"><%= current_user.identity.age_group %>0后</td>
            <td width="20%"></td>

          </tr>
        </table>


        <div id="section-title">请至少等待一天时间．如果此汇报已经得到解决，请按右下键打分最终结果．</div>

        <div>
          <table id="full">
            <tr>
              <td width = "20%">

              </td>

              <td width = "20%" id="image-holder">

              </td>

              <td width = "20">

              </td>

              <td width = "20%"></td>

              <td width = "20%">
                <% if @report.unit.nil? && @report.closed == false && (Time.zone.now - @report.created_at)/60 > 1440 %>
                  <!-- 1440分钟是一天 -->
                    <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), edit_report_path %><div id="menu-font">鉴定打分</div>

                <% elsif @report.closed == false && @report.unit != current_user.identity.residence.unit && (Time.zone.now - @report.created_at)/60 > 60 %>
                    <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), edit_report_path %><div id="menu-font">鉴定打分</div>
                <% else %>
                <% end %>

              </td>
            </tr>

          </table>
        </div>
      </div>
    <p>&nbsp;</p>
  <% end %>

    <% if @report.report_comment0s.where("published = ?", true).empty? %>
    <%# if @report.forum_complain.nil? && @report.report_comment0s.empty? %>
    <div>请点击下面的＂＋＂按键评论此帖</div>

    <% elsif @report.report_comment0s.where("published = ?", true).count > 0 %>
    <%# elsif @report.forum_complain.nil? && @report.report_comment0s.count > 0 %>

    <div id="section-title"><%#= image_tag('icons/comment0-red-outline.png', width: '30', height: '30', title: '评论', rel: 'tooltip') %> 一楼评论</div>

      <% @report.report_comment0s.where("published = ?", true).first(10).each do |c| %>
        <div id="index-card-comment0">
          <div id="time-ago"><%= (c.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>
          <table>
            <tr>
              <td width="20%">
                <% if c.user.identity.sex == "女" %>
                  <%= gravatar_female_28 c.user %>
                <% elsif c.user.identity.sex == "男" %>
                  <%= gravatar_male_28 c.user %>
                <% end %>
              </td>
              <td width="20%"><span id="name"><%= link_to c.user.identity.lastname + c.user.identity.firstname, :controller => 'users', :action => 'show', :id => c.user_id %></span>

              <td width="20%"><span id="bold"><%= c.user.identity.residence.role %></span></td>
              <td width="20%"><%= c.user.identity.age_group %>0后</td>
              <td width="20%"></td>
            </tr>
          </table>

          <p></p>

          <div id="overflow">
            <%= simple_format(c.content, class: 'show-text') %>
          </div>

          <table width="100%">
            <tr>
              <td width="20%"><%= image_tag('icons/comment1-filled.png', width: '30', height: '30', title: '回复', rel: 'tooltip') %><div id="menu-font"><%= c.report_comment1s.where("published = ?", true).size %>回复</div>

              </td>

              <td width="20%" id="image-holder">
                <%#= image_tag('icons/like-plus-filled.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
              </td>

              <td width="20%" id="image-holder">

              </td>

              <td width="20%">

              </td>
              <td width="20%">
                  <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '详情', rel: 'tooltip'), :controller => 'report_comment0s', :action => 'show', :id => c.id %><div id="menu-font">评论详情</div>
              </td>
            </tr>
          </table>

        </div>
        <p></p>
      <% end %>
  <% end %>

  <p>&nbsp;</p>

  <% if @report.report_comment0s.where("published = ?", true).size > 1 %>
    <div id="section-title">
      <%= link_to image_tag('icons/comment0-filled.png', width: '30', height: '30', title: '全部评论'), :controller => 'report_comment0s', :action => 'index', :id => @report.id, :page => '2' %> 更多一楼评论...
    </div>
  <% end %>

  <div class="bottom-menu">
    <table id="full">
      <tr>
        <td width = "20%">
        </td>

        <td width = "20%">
        </td>

        <td width = "20">

            <% if current_user.identity.nil? or current_user.identity.status != '已经验证' or current_user.identity.residence.nil? or current_user.identity.residence.status != '已经验证' %>

            <% else %>
              <div class="btn-group dropup">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div><%= image_tag('icons/plus-filled.png', width: '35', height: '35', title: '更多菜单', rel: 'tooltip') %></div>

                </button>

                <div class="dropdown-menu">


                  <div>
                    <%= link_to image_tag('icons/comment0-plus-filled.png', width: '35', height: '35', title: '工作中...', rel: 'tooltip'), :controller => 'report_comment0s', :action => 'new', :id => @report.id %> 评论汇报
                  </div>

                  <div id="image-holder">
                    <%= image_tag('icons/complain-filled.png', width: '35', height: '35', title: '工作中...', rel: 'tooltip') %> 投诉此贴
                  </div>

                </div>
              </div>

          <% end %>
        </td>

        <td width = "20%"></td>

        <td width = "20%" id="image-holder"></td>
      </tr>

    </table>
  </div>

  <p>&nbsp;</p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
    <%= image_tag'icons/faq-outline.png', width: '30', height: '30', title: '记录投诉', rel: 'tooltip' %> 常见问题回答
  </button>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
