<div id="index-card-comment1">
  <div id="time-ago"><%= (comment1.created_at).strftime("%Y年%m月%d日 %H:%M") %></div>
  <table>
    <tr>
      <td width="20%">
        <% if comment1.user.identity.sex == "女" %>
          <%= gravatar_female_28 comment1.user %>
        <% elsif comment1.user.identity.sex == "男" %>
          <%= gravatar_male_28 comment1.user %>
        <% end %>
      </td>
      <td width="20%"><span id="name"><%= link_to comment1.user.identity.lastname + comment1.user.identity.firstname, :controller => 'users', :action => 'show', :id => comment1.user_id %></span>

      <td width="20%"><span id="bold"><%= comment1.user.identity.residence.role %></span></td>
      <td width="20%"><%= comment1.user.identity.age_group %>0后</td>
      <td width="20%"></td>
    </tr>
  </table>

  <p></p>

  <div id="overflow">
    <%= simple_format(comment1.content, class: 'show-text') %>
  </div>

  <!-- <table width="100%">
    <tr>
      <td width="20%">

      </td>

      <td width="20%" id="image-holder">
        <%#= image_tag('icons/like-plus-filled.png', width: '25', height: '25', title: '工作中...', rel: 'tooltip') %>
      </td>

      <td width="20%">

      </td>

      <td width="20%">

      </td>
      <td width="20%">
          <%#= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '详情', rel: 'tooltip'), :controller => 'comment1s', :action => 'show', :id => comment1.id %><div id="menu-font">评论详情</div>
      </td>
    </tr>
  </table> -->

</div>
<p></p>
