<%= simple_form_for(@comment1) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :comment0 %>
    <%= f.input :content %>
    <%= f.input :published %>
    <%= f.association :identity %>
    <%= f.input :score %>
    <%= f.association :community %>
    <%= f.association :local %>
    <%= f.association :district %>
    <%= f.association :city %>
    <%= f.association :province %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
