<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

<div id="page-title">撤销违规违法的回复？</div>

<p>&nbsp;</p>

<div id = "index-card">
  <div id="time-ago">
    <%= time_ago_in_words(@comment1.created_at) %>以前，
  </div>
  <div>
    <%= gravatar_25 @comment1.user %> <% if @comment1.user.identity.sex == "女" %><span id="female"><% else %><span id="male"><% end %><%= @comment1.user.identity.lastname %><%= @comment1.user.identity.firstname %></span>　<%= @comment1.user.identity.age_group %>0后
  </div>
  <p></p>

  <div id="overflow">
    <%= simple_format(@comment1.content, class: 'forum-show-text') %>
  </div>
</div>
<%= simple_form_for(@comment1) do |f| %>
  <%= f.error_notification %>

  <div class="comment0-inputs">
    <%= f.hidden_field :identity_id, :value => current_user.identity.id %>
    <%= f.input :published, label: '已经发表？√为是，空为否．', as: :boolean, checked_value: true, unchecked_value: false %>
  </div>

  <%= f.button :button do %>
    提交 <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "提交" %>
  <% end %>
<% end %>


</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
