<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment1.user %>
</p>

<p>
  <strong>Comment0:</strong>
  <%= @comment1.comment0 %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment1.content %>
</p>

<p>
  <strong>Published:</strong>
  <%= @comment1.published %>
</p>

<p>
  <strong>Identity:</strong>
  <%= @comment1.identity %>
</p>

<p>
  <strong>Score:</strong>
  <%= @comment1.score %>
</p>

<p>
  <strong>Community:</strong>
  <%= @comment1.community %>
</p>

<p>
  <strong>Local:</strong>
  <%= @comment1.local %>
</p>

<p>
  <strong>District:</strong>
  <%= @comment1.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @comment1.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @comment1.province %>
</p>

<%= link_to 'Edit', edit_comment1_path(@comment1) %> |
<%= link_to 'Back', comment1s_path %>
