<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
  <head>
    <title>Xq234Version3</title>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# if content_for?(:head) %>
      <%#= yield(:head) %>
    <%# end %>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--
    <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">

    only work full screen when you create a icon on menu and launch from menu. May not good enough for giving user a consistant look and feel -->


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if user_signed_in? && current_user.identity.nil? %><!--no menu if not sign_in -->
      <div class="top-menu">
        <table id="full">
          <tr>
            <td width = "20%">
              <div><%= link_to image_tag('icons/logo.png', width: '25', height: '25', title: '用户服务', rel: 'tooltip'), root_path %></div>
            </td>

            <td width = "20%">
            </td>
            <td width = "20%">
            </td>
            <td width = "20%">无名侠
            </td>
            <td width = "20%">
              <div class="btn-group dropleft">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= gravatar_25 current_user %>
                </button>
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->

                  <div id="menu-link"><%= link_to image_tag('icons/exit-filled-50.png', width: '25', height: '25', title: '登出', rel: 'tooltip'), main_app.destroy_user_session_path, method: :delete %> <%= link_to '登出', main_app.destroy_user_session_path, method:
                 :delete %></div>

                 <div id="menu-link"><%= link_to image_tag('icons/headset-filled.png', width: '25', height: '25', title: '用户服务', rel: 'tooltip'), root_path %> <%= link_to "用户服务", root_path %></div>
                </div>
              </div>
            </td>
          </tr>

        </table>

        </div>


    <% elsif user_signed_in? %>

      <div class="top-menu">
        <table id="full">
          <tr>
            <td width = "20%">
              <div>
              <%= link_to image_tag('icons/logo.png', width: '25', height: '25', title: 'LOGO', rel: 'tooltip'), main_app.root_path %>
              </div>
            </td>

            <td width = "20%"><%= link_to pluralize(Notification.unread_count(current_user), '消息'), notifications_path %>
            </td>
            <td width = "20%">
            </td>
            <td width = "20%">

              <%#= current_user.identity.lastname + current_user.identity.firstname %><%= current_user.id %>

              <%= link_to current_user.identity.lastname + current_user.identity.firstname, main_app.user_path(current_user.id) %>
              <!-- conflicted with notifications path -->
            </td>
            <td width = "20%">

              <div class="btn-group dropleft">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


                  <% if current_user.identity.sex == "女" %>
                    <%= gravatar_female current_user %>
                  <% elsif current_user.identity.sex == "男" %>
                    <%= gravatar_male current_user %>
                  <% end %>
                </button>
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->

                  <div id="menu-link"><%= link_to image_tag('icons/exit-filled-50.png', width: '25', height: '25', title: '登出', rel: 'tooltip'), main_app.destroy_user_session_path, method: :delete %> <%= link_to '登出', main_app.destroy_user_session_path, method:
                 :delete %></div>


                 <div id="menu-link" id="image-holder"><%#= link_to image_tag('icons/headset-filled.png', width: '25', height: '25', title: '用户服务', rel: 'tooltip'), root_path %> <%#= link_to "用户服务", root_path %></div>
                </div>
              </div>



            </td>
          </tr>

        </table>

      </div>

      <% end %><!--no menu if not sign_in -->

      <div class="row">

  			<div class="col-md-1">
          <p>&nbsp;</p>
  				<span id="notice" class="pull-left"><%= notice %></span>
  		    <span id="alert" class="pull-right"><%= alert %></span>

  			</div>
      </div>

      <div class="yield">
        <%= yield %>

        <script>

        </script>
      </div>


  </body>
</html>
